In [1]:
import pandas as pd
import numpy as np
import random

# 1 Creating a dataframe from an array

### 1.1 Option 1

In [195]:
# creating an array
data = np.array([[1,4],[2,5],[3,6]])

In [196]:
# creating a Dataframe
df = pd.DataFrame(data,index = ['row1','row2','row3'],columns = ['column1','column2'])

In [197]:
# showinf the dataframe
df

      column1  column2
row1        1        4
row2        2        5
row3        3        6

### 1.2 Option 2

In [198]:
#creating an array with list shape
data = [[1,4],[2,5],[3,6]]

In [199]:
# creating a Dataframe
df = pd.DataFrame(data,index = ['row1','row2','row3'],columns = ['column1','column2'])

In [200]:
#showing the dataframe
df

      column1  column2
row1        1        4
row2        2        5
row3        3        6

# 2. Creating a DataFrame from a dictiionary

In [201]:
#lists used for this examples
Nations = ["california","Texas","florida","New York"]
population_Number = [312345,456789,234567,567890]

In [202]:
# storing lists within a dictionarystates
dict_state = {"states" : Nations, "population" : population_Number}

In [203]:
# creating the dataframe
df_population = pd.DataFrame(dict_state)

In [204]:
#showing the dataframe
df_population

       states  population
0  california      312345
1       Texas      456789
2     florida      234567
3    New York      567890

### Creating a DataFrame from a Csv file

In [205]:
# reading the csv file
df_students = pd.read_csv("MUSIC SUMMER CAMP 2025 LIST.csv")

In [206]:
#show first 5 rows in a dataframe
df_students.head()

,COMFIRMED LIST,Decision,Content,Class of content
0,Bebeto,TRUE,NaN,NaN
1,Benjamin,TRUE,Sanctus by TUNEZERWE,Religious
2,Benedicta,TRUE,"Arabesque, Minuet in G, Alleluia, Kyrie Messe ...",Classical & Religious
3,Benito,TRUE,NaN,NaN
4,Bohneur,TRUE,"Tuje by KIZITO MIHIGO, Suan Lake",Religious & Classical

In [207]:
# show first all rows in a dataframe
df_students

,COMFIRMED LIST,Decision,Content,Class of content
0,Bebeto,TRUE,NaN,NaN
1,Benjamin,TRUE,Sanctus by TUNEZERWE,Religious
2,Benedicta,TRUE,"Arabesque, Minuet in G, Alleluia, Kyrie Messe ...",Classical & Religious
3,Benito,TRUE,NaN,NaN
4,Bohneur,TRUE,"Tuje by KIZITO MIHIGO, Suan Lake",Religious & Classical
5,Bruce Rubangura,TRUE,"Alleluia, Danube waves",Religious & Classical
6,Champion,TRUE,NaN,NaN
7,Chriss,TRUE,"Waltz of dots, Gavotte",Classicals
8,Dario,TRUE,"Sarabande, Gymnopedy 1, Nyagasani Nzamwitura i...",Religious & Classical
9,Ean,TRUE,Two Exercises from Korean book,Classicals
10,Emily,TRUE,"Danube waves, It is well with my soul",Religious & Classical
11,Ethan,TRUE,NaN,NaN
12,Ezla,TRUE,"Amazing Grace, Moderns",Religious & Modern
13,Jabiro Gatsinzi Bright,TRUE,"A Song from secrete garden,",NaN
14,Joy,TRUE,weilings,NaN
15,Kevin,TRUE,"Lacrimosa, ...",NaN
16,Kevine,TRUE,"Fur elise, Canon",NaN
17,Kuzo,TRUE,Yezu udukunda,NaN
18,Louange,TRUE,Concert,NaN
19,Marcellin,TRUE,NaN,NaN
20,Miguel,TRUE,Exercises 51,NaN
21,O'Brien,TRUE,"Odd to joy, Sonate by Mozart",NaN
22,Prince,TRUE,When Saints go marching in,NaN
23,Remmy,TRUE,"Danube waves, Agnus Dei par Mozart",NaN
24,Roland,TRUE,Gavotte,NaN
25,Sango,TRUE,NaN,NaN
26,Valentin,TRUE,NaN,NaN
27,Willy Ellis,TRUE,NaN,NaN
28,Yanis,TRUE,NaN,NaN
29,Ishimwe,TRUE,Sonata,NaN
30,TOTAL,29,0,100

In [208]:
#show last 5 rows in a dataframe
df_students.tail()

   COMFIRMED LIST Decision Content Class of content
26       Valentin     TRUE     NaN              NaN
27    Willy Ellis     TRUE     NaN              NaN
28         Yanis      TRUE     NaN              NaN
29        Ishimwe     TRUE  Sonata              NaN
30          TOTAL       29       0              100

In [209]:
#show last n rows in a dataframe
df_students.head(10) 
df_students.tail(10)

,COMFIRMED LIST,Decision,Content,Class of content
21,O'Brien,TRUE,"Odd to joy, Sonate by Mozart",NaN
22,Prince,TRUE,When Saints go marching in,NaN
23,Remmy,TRUE,"Danube waves, Agnus Dei par Mozart",NaN
24,Roland,TRUE,Gavotte,NaN
25,Sango,TRUE,NaN,NaN
26,Valentin,TRUE,NaN,NaN
27,Willy Ellis,TRUE,NaN,NaN
28,Yanis,TRUE,NaN,NaN
29,Ishimwe,TRUE,Sonata,NaN
30,TOTAL,29,0,100

In [216]:
# getting access to the shape attribute
df_students.shape

(31, 4)

In [217]:
# display n rows
pd.set_option("display.max_rows", 31)
df_students

,COMFIRMED LIST,Decision,Content,Class of content
0,Bebeto,TRUE,NaN,NaN
1,Benjamin,TRUE,Sanctus by TUNEZERWE,Religious
2,Benedicta,TRUE,"Arabesque, Minuet in G, Alleluia, Kyrie Messe ...",Classical & Religious
3,Benito,TRUE,NaN,NaN
4,Bohneur,TRUE,"Tuje by KIZITO MIHIGO, Suan Lake",Religious & Classical
5,Bruce Rubangura,TRUE,"Alleluia, Danube waves",Religious & Classical
6,Champion,TRUE,NaN,NaN
7,Chriss,TRUE,"Waltz of dots, Gavotte",Classicals
8,Dario,TRUE,"Sarabande, Gymnopedy 1, Nyagasani Nzamwitura i...",Religious & Classical
9,Ean,TRUE,Two Exercises from Korean book,Classicals
10,Emily,TRUE,"Danube waves, It is well with my soul",Religious & Classical
11,Ethan,TRUE,NaN,NaN
12,Ezla,TRUE,"Amazing Grace, Moderns",Religious & Modern
13,Jabiro Gatsinzi Bright,TRUE,"A Song from secrete garden,",NaN
14,Joy,TRUE,weilings,NaN
15,Kevin,TRUE,"Lacrimosa, ...",NaN
16,Kevine,TRUE,"Fur elise, Canon",NaN
17,Kuzo,TRUE,Yezu udukunda,NaN
18,Louange,TRUE,Concert,NaN
19,Marcellin,TRUE,NaN,NaN
20,Miguel,TRUE,Exercises 51,NaN
21,O'Brien,TRUE,"Odd to joy, Sonate by Mozart",NaN
22,Prince,TRUE,When Saints go marching in,NaN
23,Remmy,TRUE,"Danube waves, Agnus Dei par Mozart",NaN
24,Roland,TRUE,Gavotte,NaN
25,Sango,TRUE,NaN,NaN
26,Valentin,TRUE,NaN,NaN
27,Willy Ellis,TRUE,NaN,NaN
28,Yanis,TRUE,NaN,NaN
29,Ishimwe,TRUE,Sonata,NaN
30,TOTAL,29,0,100

### 1. Attributes

In [218]:
#getting access to the shape attribute
df_students.shape

(31, 4)

In [219]:
# getting access to the index attribute
df_students.index

RangeIndex(start=0, stop=31, step=1)

In [220]:
# getting access to the column attribute
df_students.columns

Index(['COMFIRMED LIST', 'Decision', 'Content', 'Class of content'], dtype='object')

In [221]:
# data types of each column
df_students.dtypes

COMFIRMED LIST      object
Decision            object
Content             object
Class of content    object
dtype: object

### 2. Methods

In [222]:
#showing the first 5 columns
df_students.head()

,COMFIRMED LIST,Decision,Content,Class of content
0,Bebeto,TRUE,NaN,NaN
1,Benjamin,TRUE,Sanctus by TUNEZERWE,Religious
2,Benedicta,TRUE,"Arabesque, Minuet in G, Alleluia, Kyrie Messe ...",Classical & Religious
3,Benito,TRUE,NaN,NaN
4,Bohneur,TRUE,"Tuje by KIZITO MIHIGO, Suan Lake",Religious & Classical

In [223]:
#showing the info of the dataframe
df_students.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   COMFIRMED LIST    31 non-null     object
 1   Decision          31 non-null     object
 2   Content           22 non-null     object
 3   Class of content  10 non-null     object
dtypes: object(4)
memory usage: 1.1+ KB

In [224]:
#describing basic statistics of the dataframe
df_students.describe()

       COMFIRMED LIST Decision               Content       Class of content
count              31       31                    22                     10
unique             31        2                    22                      6
top            Bebeto     TRUE  Sanctus by TUNEZERWE  Religious & Classical
freq                1       30                     1                      4

# 3. Functions

In [225]:
# obtaining the length of the dataframe(number of rows)
len(df_students)

31

In [226]:
#obtaining the highest index of the dataframe
max(df_students.index)

30

In [227]:
#obtaining the Lowest index of the dataframe
min(df_students.index)

0

In [228]:
# rounding the values of the dataset when there`s float numbers
round(df_students,2)

,COMFIRMED LIST,Decision,Content,Class of content
0,Bebeto,TRUE,NaN,NaN
1,Benjamin,TRUE,Sanctus by TUNEZERWE,Religious
2,Benedicta,TRUE,"Arabesque, Minuet in G, Alleluia, Kyrie Messe ...",Classical & Religious
3,Benito,TRUE,NaN,NaN
4,Bohneur,TRUE,"Tuje by KIZITO MIHIGO, Suan Lake",Religious & Classical
5,Bruce Rubangura,TRUE,"Alleluia, Danube waves",Religious & Classical
6,Champion,TRUE,NaN,NaN
7,Chriss,TRUE,"Waltz of dots, Gavotte",Classicals
8,Dario,TRUE,"Sarabande, Gymnopedy 1, Nyagasani Nzamwitura i...",Religious & Classical
9,Ean,TRUE,Two Exercises from Korean book,Classicals
10,Emily,TRUE,"Danube waves, It is well with my soul",Religious & Classical
11,Ethan,TRUE,NaN,NaN
12,Ezla,TRUE,"Amazing Grace, Moderns",Religious & Modern
13,Jabiro Gatsinzi Bright,TRUE,"A Song from secrete garden,",NaN
14,Joy,TRUE,weilings,NaN
15,Kevin,TRUE,"Lacrimosa, ...",NaN
16,Kevine,TRUE,"Fur elise, Canon",NaN
17,Kuzo,TRUE,Yezu udukunda,NaN
18,Louange,TRUE,Concert,NaN
19,Marcellin,TRUE,NaN,NaN
20,Miguel,TRUE,Exercises 51,NaN
21,O'Brien,TRUE,"Odd to joy, Sonate by Mozart",NaN
22,Prince,TRUE,When Saints go marching in,NaN
23,Remmy,TRUE,"Danube waves, Agnus Dei par Mozart",NaN
24,Roland,TRUE,Gavotte,NaN
25,Sango,TRUE,NaN,NaN
26,Valentin,TRUE,NaN,NaN
27,Willy Ellis,TRUE,NaN,NaN
28,Yanis,TRUE,NaN,NaN
29,Ishimwe,TRUE,Sonata,NaN
30,TOTAL,29,0,100

### 1. Selectiong  one column

### 1.1 Syntax 1

In [229]:
# select a column with [] (preferred way to select a column)
df_students['Decision']

0     TRUE
1     TRUE
2     TRUE
3     TRUE
4     TRUE
5     TRUE
6     TRUE
7     TRUE
8     TRUE
9     TRUE
10    TRUE
11    TRUE
12    TRUE
13    TRUE
14    TRUE
15    TRUE
16    TRUE
17    TRUE
18    TRUE
19    TRUE
20    TRUE
21    TRUE
22    TRUE
23    TRUE
24    TRUE
25    TRUE
26    TRUE
27    TRUE
28    TRUE
29    TRUE
30      29
Name: Decision, dtype: object

### 1.2 Syntax 2

In [230]:
# select a column with .
df_students.Decision

0     TRUE
1     TRUE
2     TRUE
3     TRUE
4     TRUE
5     TRUE
6     TRUE
7     TRUE
8     TRUE
9     TRUE
10    TRUE
11    TRUE
12    TRUE
13    TRUE
14    TRUE
15    TRUE
16    TRUE
17    TRUE
18    TRUE
19    TRUE
20    TRUE
21    TRUE
22    TRUE
23    TRUE
24    TRUE
25    TRUE
26    TRUE
27    TRUE
28    TRUE
29    TRUE
30      29
Name: Decision, dtype: object

### 2.Selecting two or more columns

In [231]:
# select 2 column using [[]]
df_students[['Decision','Class of content']]

   Decision       Class of content
0      TRUE                    NaN
1      TRUE              Religious
2      TRUE  Classical & Religious
3      TRUE                    NaN
4      TRUE  Religious & Classical
5      TRUE  Religious & Classical
6      TRUE                    NaN
7      TRUE             Classicals
8      TRUE  Religious & Classical
9      TRUE             Classicals
10     TRUE  Religious & Classical
11     TRUE                    NaN
12     TRUE     Religious & Modern
13     TRUE                    NaN
14     TRUE                    NaN
15     TRUE                    NaN
16     TRUE                    NaN
17     TRUE                    NaN
18     TRUE                    NaN
19     TRUE                    NaN
20     TRUE                    NaN
21     TRUE                    NaN
22     TRUE                    NaN
23     TRUE                    NaN
24     TRUE                    NaN
25     TRUE                    NaN
26     TRUE                    NaN
27     TRUE                    NaN
28     TRUE                    NaN
29     TRUE                    NaN
30       29                    100

In [232]:
# select 2 or  more column using [[]]
df_students[['Decision','Content','Class of content']]

,Decision,Content,Class of content
0,TRUE,NaN,NaN
1,TRUE,Sanctus by TUNEZERWE,Religious
2,TRUE,"Arabesque, Minuet in G, Alleluia, Kyrie Messe ...",Classical & Religious
3,TRUE,NaN,NaN
4,TRUE,"Tuje by KIZITO MIHIGO, Suan Lake",Religious & Classical
5,TRUE,"Alleluia, Danube waves",Religious & Classical
6,TRUE,NaN,NaN
7,TRUE,"Waltz of dots, Gavotte",Classicals
8,TRUE,"Sarabande, Gymnopedy 1, Nyagasani Nzamwitura i...",Religious & Classical
9,TRUE,Two Exercises from Korean book,Classicals
10,TRUE,"Danube waves, It is well with my soul",Religious & Classical
11,TRUE,NaN,NaN
12,TRUE,"Amazing Grace, Moderns",Religious & Modern
13,TRUE,"A Song from secrete garden,",NaN
14,TRUE,weilings,NaN
15,TRUE,"Lacrimosa, ...",NaN
16,TRUE,"Fur elise, Canon",NaN
17,TRUE,Yezu udukunda,NaN
18,TRUE,Concert,NaN
19,TRUE,NaN,NaN
20,TRUE,Exercises 51,NaN
21,TRUE,"Odd to joy, Sonate by Mozart",NaN
22,TRUE,When Saints go marching in,NaN
23,TRUE,"Danube waves, Agnus Dei par Mozart",NaN
24,TRUE,Gavotte,NaN
25,TRUE,NaN,NaN
26,TRUE,NaN,NaN
27,TRUE,NaN,NaN
28,TRUE,NaN,NaN
29,TRUE,Sonata,NaN
30,29,0,100

## 1. Adding a new column

### 1.1 A dding a new column with a scalar value

In [233]:
# adding new column to dataframe
df_students['Position'] = 14 
df_students

,COMFIRMED LIST,Decision,Content,Class of content,Position
0,Bebeto,TRUE,NaN,NaN,14
1,Benjamin,TRUE,Sanctus by TUNEZERWE,Religious,14
2,Benedicta,TRUE,"Arabesque, Minuet in G, Alleluia, Kyrie Messe ...",Classical & Religious,14
3,Benito,TRUE,NaN,NaN,14
4,Bohneur,TRUE,"Tuje by KIZITO MIHIGO, Suan Lake",Religious & Classical,14
5,Bruce Rubangura,TRUE,"Alleluia, Danube waves",Religious & Classical,14
6,Champion,TRUE,NaN,NaN,14
7,Chriss,TRUE,"Waltz of dots, Gavotte",Classicals,14
8,Dario,TRUE,"Sarabande, Gymnopedy 1, Nyagasani Nzamwitura i...",Religious & Classical,14
9,Ean,TRUE,Two Exercises from Korean book,Classicals,14
10,Emily,TRUE,"Danube waves, It is well with my soul",Religious & Classical,14
11,Ethan,TRUE,NaN,NaN,14
12,Ezla,TRUE,"Amazing Grace, Moderns",Religious & Modern,14
13,Jabiro Gatsinzi Bright,TRUE,"A Song from secrete garden,",NaN,14
14,Joy,TRUE,weilings,NaN,14
15,Kevin,TRUE,"Lacrimosa, ...",NaN,14
16,Kevine,TRUE,"Fur elise, Canon",NaN,14
17,Kuzo,TRUE,Yezu udukunda,NaN,14
18,Louange,TRUE,Concert,NaN,14
19,Marcellin,TRUE,NaN,NaN,14
20,Miguel,TRUE,Exercises 51,NaN,14
21,O'Brien,TRUE,"Odd to joy, Sonate by Mozart",NaN,14
22,Prince,TRUE,When Saints go marching in,NaN,14
23,Remmy,TRUE,"Danube waves, Agnus Dei par Mozart",NaN,14
24,Roland,TRUE,Gavotte,NaN,14
25,Sango,TRUE,NaN,NaN,14
26,Valentin,TRUE,NaN,NaN,14
27,Willy Ellis,TRUE,NaN,NaN,14
28,Yanis,TRUE,NaN,NaN,14
29,Ishimwe,TRUE,Sonata,NaN,14
30,TOTAL,29,0,100,14

### 1.2 Adding new column with an array

##### the dataframe has 31 rows so we need to create an array with 31 elements

In [234]:
#ceate an array of 31 elements
time= np.arange(0,31)

In [235]:
df_students['Position'] = time
df_students

,COMFIRMED LIST,Decision,Content,Class of content,Position
0,Bebeto,TRUE,NaN,NaN,0
1,Benjamin,TRUE,Sanctus by TUNEZERWE,Religious,1
2,Benedicta,TRUE,"Arabesque, Minuet in G, Alleluia, Kyrie Messe ...",Classical & Religious,2
3,Benito,TRUE,NaN,NaN,3
4,Bohneur,TRUE,"Tuje by KIZITO MIHIGO, Suan Lake",Religious & Classical,4
5,Bruce Rubangura,TRUE,"Alleluia, Danube waves",Religious & Classical,5
6,Champion,TRUE,NaN,NaN,6
7,Chriss,TRUE,"Waltz of dots, Gavotte",Classicals,7
8,Dario,TRUE,"Sarabande, Gymnopedy 1, Nyagasani Nzamwitura i...",Religious & Classical,8
9,Ean,TRUE,Two Exercises from Korean book,Classicals,9
10,Emily,TRUE,"Danube waves, It is well with my soul",Religious & Classical,10
11,Ethan,TRUE,NaN,NaN,11
12,Ezla,TRUE,"Amazing Grace, Moderns",Religious & Modern,12
13,Jabiro Gatsinzi Bright,TRUE,"A Song from secrete garden,",NaN,13
14,Joy,TRUE,weilings,NaN,14
15,Kevin,TRUE,"Lacrimosa, ...",NaN,15
16,Kevine,TRUE,"Fur elise, Canon",NaN,16
17,Kuzo,TRUE,Yezu udukunda,NaN,17
18,Louange,TRUE,Concert,NaN,18
19,Marcellin,TRUE,NaN,NaN,19
20,Miguel,TRUE,Exercises 51,NaN,20
21,O'Brien,TRUE,"Odd to joy, Sonate by Mozart",NaN,21
22,Prince,TRUE,When Saints go marching in,NaN,22
23,Remmy,TRUE,"Danube waves, Agnus Dei par Mozart",NaN,23
24,Roland,TRUE,Gavotte,NaN,24
25,Sango,TRUE,NaN,NaN,25
26,Valentin,TRUE,NaN,NaN,26
27,Willy Ellis,TRUE,NaN,NaN,27
28,Yanis,TRUE,NaN,NaN,28
29,Ishimwe,TRUE,Sonata,NaN,29
30,TOTAL,29,0,100,30

In [236]:
int_time = np.random.randint(1,20,size=31)

In [237]:
df_students ['Position'] =  int_time
df_students

,COMFIRMED LIST,Decision,Content,Class of content,Position
0,Bebeto,TRUE,NaN,NaN,1
1,Benjamin,TRUE,Sanctus by TUNEZERWE,Religious,10
2,Benedicta,TRUE,"Arabesque, Minuet in G, Alleluia, Kyrie Messe ...",Classical & Religious,2
3,Benito,TRUE,NaN,NaN,15
4,Bohneur,TRUE,"Tuje by KIZITO MIHIGO, Suan Lake",Religious & Classical,19
5,Bruce Rubangura,TRUE,"Alleluia, Danube waves",Religious & Classical,15
6,Champion,TRUE,NaN,NaN,2
7,Chriss,TRUE,"Waltz of dots, Gavotte",Classicals,1
8,Dario,TRUE,"Sarabande, Gymnopedy 1, Nyagasani Nzamwitura i...",Religious & Classical,12
9,Ean,TRUE,Two Exercises from Korean book,Classicals,7
10,Emily,TRUE,"Danube waves, It is well with my soul",Religious & Classical,7
11,Ethan,TRUE,NaN,NaN,2
12,Ezla,TRUE,"Amazing Grace, Moderns",Religious & Modern,7
13,Jabiro Gatsinzi Bright,TRUE,"A Song from secrete garden,",NaN,12
14,Joy,TRUE,weilings,NaN,18
15,Kevin,TRUE,"Lacrimosa, ...",NaN,8
16,Kevine,TRUE,"Fur elise, Canon",NaN,5
17,Kuzo,TRUE,Yezu udukunda,NaN,6
18,Louange,TRUE,Concert,NaN,6
19,Marcellin,TRUE,NaN,NaN,7
20,Miguel,TRUE,Exercises 51,NaN,14
21,O'Brien,TRUE,"Odd to joy, Sonate by Mozart",NaN,19
22,Prince,TRUE,When Saints go marching in,NaN,6
23,Remmy,TRUE,"Danube waves, Agnus Dei par Mozart",NaN,11
24,Roland,TRUE,Gavotte,NaN,14
25,Sango,TRUE,NaN,NaN,6
26,Valentin,TRUE,NaN,NaN,8
27,Willy Ellis,TRUE,NaN,NaN,13
28,Yanis,TRUE,NaN,NaN,3
29,Ishimwe,TRUE,Sonata,NaN,16
30,TOTAL,29,0,100,13

In [238]:
flo = np.random.uniform(1,30,size=31)

In [239]:
df_students ['Position'] =  flo
df_students

,COMFIRMED LIST,Decision,Content,Class of content,Position
0,Bebeto,TRUE,NaN,NaN,20.026554
1,Benjamin,TRUE,Sanctus by TUNEZERWE,Religious,17.386498
2,Benedicta,TRUE,"Arabesque, Minuet in G, Alleluia, Kyrie Messe ...",Classical & Religious,1.662952
3,Benito,TRUE,NaN,NaN,11.134371
4,Bohneur,TRUE,"Tuje by KIZITO MIHIGO, Suan Lake",Religious & Classical,26.986662
5,Bruce Rubangura,TRUE,"Alleluia, Danube waves",Religious & Classical,5.514563
6,Champion,TRUE,NaN,NaN,5.511889
7,Chriss,TRUE,"Waltz of dots, Gavotte",Classicals,25.624539
8,Dario,TRUE,"Sarabande, Gymnopedy 1, Nyagasani Nzamwitura i...",Religious & Classical,8.381307
9,Ean,TRUE,Two Exercises from Korean book,Classicals,7.645359
10,Emily,TRUE,"Danube waves, It is well with my soul",Religious & Classical,9.271200
11,Ethan,TRUE,NaN,NaN,27.889694
12,Ezla,TRUE,"Amazing Grace, Moderns",Religious & Modern,7.853176
13,Jabiro Gatsinzi Bright,TRUE,"A Song from secrete garden,",NaN,26.332444
14,Joy,TRUE,weilings,NaN,29.984105
15,Kevin,TRUE,"Lacrimosa, ...",NaN,10.738836
16,Kevine,TRUE,"Fur elise, Canon",NaN,12.281526
17,Kuzo,TRUE,Yezu udukunda,NaN,9.471230
18,Louange,TRUE,Concert,NaN,27.767321
19,Marcellin,TRUE,NaN,NaN,27.199632
20,Miguel,TRUE,Exercises 51,NaN,10.078415
21,O'Brien,TRUE,"Odd to joy, Sonate by Mozart",NaN,14.062663
22,Prince,TRUE,When Saints go marching in,NaN,18.329429
23,Remmy,TRUE,"Danube waves, Agnus Dei par Mozart",NaN,9.594333
24,Roland,TRUE,Gavotte,NaN,26.016448
25,Sango,TRUE,NaN,NaN,10.793695
26,Valentin,TRUE,NaN,NaN,7.135398
27,Willy Ellis,TRUE,NaN,NaN,3.789627
28,Yanis,TRUE,NaN,NaN,2.773064
29,Ishimwe,TRUE,Sonata,NaN,9.530104
30,TOTAL,29,0,100,17.662264

## 1. Adding a new column

### 1.1 Assign()

In [240]:
# create random numbers for our new score columns
score1 = np.random.randint(1,31,size = 31)
score2 = np.random.randint(1,31,size=31)

In [241]:
# create the series using the random numbers
series1 = pd.Series(score1,index = np.arange(0,31))
series2 = pd.Series(score2,index = np.arange(0,31))

In [242]:
df_students= df_students.assign(time_accuracy=series1,date_found=series2,inplace=True)
df_students

,COMFIRMED LIST,Decision,Content,Class of content,Position,time_accuracy,date_found,inplace
0,Bebeto,TRUE,NaN,NaN,20.026554,17,9,True
1,Benjamin,TRUE,Sanctus by TUNEZERWE,Religious,17.386498,12,30,True
2,Benedicta,TRUE,"Arabesque, Minuet in G, Alleluia, Kyrie Messe ...",Classical & Religious,1.662952,29,11,True
3,Benito,TRUE,NaN,NaN,11.134371,20,18,True
4,Bohneur,TRUE,"Tuje by KIZITO MIHIGO, Suan Lake",Religious & Classical,26.986662,23,10,True
5,Bruce Rubangura,TRUE,"Alleluia, Danube waves",Religious & Classical,5.514563,18,4,True
6,Champion,TRUE,NaN,NaN,5.511889,17,24,True
7,Chriss,TRUE,"Waltz of dots, Gavotte",Classicals,25.624539,5,18,True
8,Dario,TRUE,"Sarabande, Gymnopedy 1, Nyagasani Nzamwitura i...",Religious & Classical,8.381307,23,30,True
9,Ean,TRUE,Two Exercises from Korean book,Classicals,7.645359,10,9,True
10,Emily,TRUE,"Danube waves, It is well with my soul",Religious & Classical,9.271200,26,26,True
11,Ethan,TRUE,NaN,NaN,27.889694,2,22,True
12,Ezla,TRUE,"Amazing Grace, Moderns",Religious & Modern,7.853176,20,30,True
13,Jabiro Gatsinzi Bright,TRUE,"A Song from secrete garden,",NaN,26.332444,19,15,True
14,Joy,TRUE,weilings,NaN,29.984105,16,27,True
15,Kevin,TRUE,"Lacrimosa, ...",NaN,10.738836,15,17,True
16,Kevine,TRUE,"Fur elise, Canon",NaN,12.281526,13,12,True
17,Kuzo,TRUE,Yezu udukunda,NaN,9.471230,10,2,True
18,Louange,TRUE,Concert,NaN,27.767321,20,9,True
19,Marcellin,TRUE,NaN,NaN,27.199632,6,24,True
20,Miguel,TRUE,Exercises 51,NaN,10.078415,14,2,True
21,O'Brien,TRUE,"Odd to joy, Sonate by Mozart",NaN,14.062663,5,23,True
22,Prince,TRUE,When Saints go marching in,NaN,18.329429,10,12,True
23,Remmy,TRUE,"Danube waves, Agnus Dei par Mozart",NaN,9.594333,13,21,True
24,Roland,TRUE,Gavotte,NaN,26.016448,12,7,True
25,Sango,TRUE,NaN,NaN,10.793695,30,12,True
26,Valentin,TRUE,NaN,NaN,7.135398,25,13,True
27,Willy Ellis,TRUE,NaN,NaN,3.789627,17,21,True
28,Yanis,TRUE,NaN,NaN,2.773064,9,8,True
29,Ishimwe,TRUE,Sonata,NaN,9.530104,10,2,True
30,TOTAL,29,0,100,17.662264,4,9,True

### 1.2 insert()

##### insert a new column ar a specific position or index

In [243]:
#using index() to add a column at a specific position
df_students.insert(1,'Testing',series1)

In [244]:
# show a dataframe
df_students

,COMFIRMED LIST,Testing,Decision,Content,Class of content,Position,time_accuracy,date_found,inplace
0,Bebeto,17,TRUE,NaN,NaN,20.026554,17,9,True
1,Benjamin,12,TRUE,Sanctus by TUNEZERWE,Religious,17.386498,12,30,True
2,Benedicta,29,TRUE,"Arabesque, Minuet in G, Alleluia, Kyrie Messe ...",Classical & Religious,1.662952,29,11,True
3,Benito,20,TRUE,NaN,NaN,11.134371,20,18,True
4,Bohneur,23,TRUE,"Tuje by KIZITO MIHIGO, Suan Lake",Religious & Classical,26.986662,23,10,True
5,Bruce Rubangura,18,TRUE,"Alleluia, Danube waves",Religious & Classical,5.514563,18,4,True
6,Champion,17,TRUE,NaN,NaN,5.511889,17,24,True
7,Chriss,5,TRUE,"Waltz of dots, Gavotte",Classicals,25.624539,5,18,True
8,Dario,23,TRUE,"Sarabande, Gymnopedy 1, Nyagasani Nzamwitura i...",Religious & Classical,8.381307,23,30,True
9,Ean,10,TRUE,Two Exercises from Korean book,Classicals,7.645359,10,9,True
10,Emily,26,TRUE,"Danube waves, It is well with my soul",Religious & Classical,9.271200,26,26,True
11,Ethan,2,TRUE,NaN,NaN,27.889694,2,22,True
12,Ezla,20,TRUE,"Amazing Grace, Moderns",Religious & Modern,7.853176,20,30,True
13,Jabiro Gatsinzi Bright,19,TRUE,"A Song from secrete garden,",NaN,26.332444,19,15,True
14,Joy,16,TRUE,weilings,NaN,29.984105,16,27,True
15,Kevin,15,TRUE,"Lacrimosa, ...",NaN,10.738836,15,17,True
16,Kevine,13,TRUE,"Fur elise, Canon",NaN,12.281526,13,12,True
17,Kuzo,10,TRUE,Yezu udukunda,NaN,9.471230,10,2,True
18,Louange,20,TRUE,Concert,NaN,27.767321,20,9,True
19,Marcellin,6,TRUE,NaN,NaN,27.199632,6,24,True
20,Miguel,14,TRUE,Exercises 51,NaN,10.078415,14,2,True
21,O'Brien,5,TRUE,"Odd to joy, Sonate by Mozart",NaN,14.062663,5,23,True
22,Prince,10,TRUE,When Saints go marching in,NaN,18.329429,10,12,True
23,Remmy,13,TRUE,"Danube waves, Agnus Dei par Mozart",NaN,9.594333,13,21,True
24,Roland,12,TRUE,Gavotte,NaN,26.016448,12,7,True
25,Sango,30,TRUE,NaN,NaN,10.793695,30,12,True
26,Valentin,25,TRUE,NaN,NaN,7.135398,25,13,True
27,Willy Ellis,17,TRUE,NaN,NaN,3.789627,17,21,True
28,Yanis,9,TRUE,NaN,NaN,2.773064,9,8,True
29,Ishimwe,10,TRUE,Sonata,NaN,9.530104,10,2,True
30,TOTAL,4,29,0,100,17.662264,4,9,True

## 1. Math Operations

#### 1.1 Operations in columns

In [245]:
# select a column and calculate total sum
df_students['Testing'].sum()

np.int64(470)

In [246]:
# count, mean,std,max,min
df_students["Testing"].count()
df_students["Testing"].mean()
df_students["Testing"].max()
df_students["Testing"].min()
df_students["Testing"].std()

7.339830943527915

In [26]:
#easy way calculation with describe()
df_students.describe()

         Testing   Position  time_accuracy  date_found
count  31.000000  31.000000      31.000000   31.000000
mean   15.645161  15.272827      15.645161   16.483871
std     8.280694   7.748865       8.280694    9.790713
min     1.000000   2.635463       1.000000    2.000000
25%     9.000000   8.366680       9.000000    6.000000
50%    15.000000  15.872772      15.000000   18.000000
75%    22.000000  20.565704      22.000000   24.500000
max    30.000000  29.536566      30.000000   30.000000

### 1.2 Operatiions in rows

In [247]:
# calcluationg the Abersage score and assigning tje result to a new column
df_students['Average'] =(df_students['Position'] + df_students['time_accuracy']+ df_students['date_found']) / 3

In [248]:
# showing the dataframe
df_students.round(3)

,COMFIRMED LIST,Testing,Decision,Content,Class of content,Position,time_accuracy,date_found,inplace,Average
0,Bebeto,17,TRUE,NaN,NaN,20.027,17,9,True,15.342
1,Benjamin,12,TRUE,Sanctus by TUNEZERWE,Religious,17.386,12,30,True,19.795
2,Benedicta,29,TRUE,"Arabesque, Minuet in G, Alleluia, Kyrie Messe ...",Classical & Religious,1.663,29,11,True,13.888
3,Benito,20,TRUE,NaN,NaN,11.134,20,18,True,16.378
4,Bohneur,23,TRUE,"Tuje by KIZITO MIHIGO, Suan Lake",Religious & Classical,26.987,23,10,True,19.996
5,Bruce Rubangura,18,TRUE,"Alleluia, Danube waves",Religious & Classical,5.515,18,4,True,9.172
6,Champion,17,TRUE,NaN,NaN,5.512,17,24,True,15.504
7,Chriss,5,TRUE,"Waltz of dots, Gavotte",Classicals,25.625,5,18,True,16.208
8,Dario,23,TRUE,"Sarabande, Gymnopedy 1, Nyagasani Nzamwitura i...",Religious & Classical,8.381,23,30,True,20.460
9,Ean,10,TRUE,Two Exercises from Korean book,Classicals,7.645,10,9,True,8.882
10,Emily,26,TRUE,"Danube waves, It is well with my soul",Religious & Classical,9.271,26,26,True,20.424
11,Ethan,2,TRUE,NaN,NaN,27.890,2,22,True,17.297
12,Ezla,20,TRUE,"Amazing Grace, Moderns",Religious & Modern,7.853,20,30,True,19.284
13,Jabiro Gatsinzi Bright,19,TRUE,"A Song from secrete garden,",NaN,26.332,19,15,True,20.111
14,Joy,16,TRUE,weilings,NaN,29.984,16,27,True,24.328
15,Kevin,15,TRUE,"Lacrimosa, ...",NaN,10.739,15,17,True,14.246
16,Kevine,13,TRUE,"Fur elise, Canon",NaN,12.282,13,12,True,12.427
17,Kuzo,10,TRUE,Yezu udukunda,NaN,9.471,10,2,True,7.157
18,Louange,20,TRUE,Concert,NaN,27.767,20,9,True,18.922
19,Marcellin,6,TRUE,NaN,NaN,27.200,6,24,True,19.067
20,Miguel,14,TRUE,Exercises 51,NaN,10.078,14,2,True,8.693
21,O'Brien,5,TRUE,"Odd to joy, Sonate by Mozart",NaN,14.063,5,23,True,14.021
22,Prince,10,TRUE,When Saints go marching in,NaN,18.329,10,12,True,13.443
23,Remmy,13,TRUE,"Danube waves, Agnus Dei par Mozart",NaN,9.594,13,21,True,14.531
24,Roland,12,TRUE,Gavotte,NaN,26.016,12,7,True,15.005
25,Sango,30,TRUE,NaN,NaN,10.794,30,12,True,17.598
26,Valentin,25,TRUE,NaN,NaN,7.135,25,13,True,15.045
27,Willy Ellis,17,TRUE,NaN,NaN,3.790,17,21,True,13.930
28,Yanis,9,TRUE,NaN,NaN,2.773,9,8,True,6.591
29,Ishimwe,10,TRUE,Sonata,NaN,9.530,10,2,True,7.177
30,TOTAL,4,29,0,100,17.662,4,9,True,10.221

## 1.Value Counts

In [249]:
# counting gender elements like you have female and male

df_students['Class of content'].value_counts()

Class of content
Religious & Classical    4
Classicals               2
Classical & Religious    1
Religious                1
Religious & Modern       1
100                      1
Name: count, dtype: int64

In [250]:
# return the relarive frwequency(divide all values by the sum of values
df_students['Class of content'].value_counts(normalize = True)

Class of content
Religious & Classical    0.4
Classicals               0.2
Classical & Religious    0.1
Religious                0.1
Religious & Modern       0.1
100                      0.1
Name: proportion, dtype: float64

In [252]:
df_students['COMFIRMED LIST'].value_counts()

COMFIRMED LIST
Bebeto                    1
Benjamin                  1
Benedicta                 1
Benito                    1
Bohneur                   1
Bruce Rubangura           1
Champion                  1
Chriss                    1
Dario                     1
Ean                       1
Emily                     1
Ethan                     1
Ezla                      1
Jabiro Gatsinzi Bright    1
Joy                       1
Kevin                     1
Kevine                    1
Kuzo                      1
Louange                   1
Marcellin                 1
Miguel                    1
O'Brien                   1
Prince                    1
Remmy                     1
Roland                    1
Sango                     1
Valentin                  1
Willy Ellis               1
Yanis                     1
Ishimwe                   1
TOTAL                     1
Name: count, dtype: int64

In [253]:
df_students['COMFIRMED LIST'].value_counts(normalize = True).round(3)

COMFIRMED LIST
Bebeto                    0.032
Benjamin                  0.032
Benedicta                 0.032
Benito                    0.032
Bohneur                   0.032
Bruce Rubangura           0.032
Champion                  0.032
Chriss                    0.032
Dario                     0.032
Ean                       0.032
Emily                     0.032
Ethan                     0.032
Ezla                      0.032
Jabiro Gatsinzi Bright    0.032
Joy                       0.032
Kevin                     0.032
Kevine                    0.032
Kuzo                      0.032
Louange                   0.032
Marcellin                 0.032
Miguel                    0.032
O'Brien                   0.032
Prince                    0.032
Remmy                     0.032
Roland                    0.032
Sango                     0.032
Valentin                  0.032
Willy Ellis               0.032
Yanis                     0.032
Ishimwe                   0.032
TOTAL                     0.032
Name: proportion, dtype: float64

In [254]:
#len function`
len(df_students['Testing'])

31

In [255]:
#.count() Method
df_students['Testing'].count()

np.int64(31)

# 1.Sort a Dataframe

In [256]:
# sort by one column
df_students.sort_values(by ='Testing') #or
df_students.sort_values('Testing')

,COMFIRMED LIST,Testing,Decision,Content,Class of content,Position,time_accuracy,date_found,inplace,Average
11,Ethan,2,TRUE,NaN,NaN,27.889694,2,22,True,17.296565
30,TOTAL,4,29,0,100,17.662264,4,9,True,10.220755
21,O'Brien,5,TRUE,"Odd to joy, Sonate by Mozart",NaN,14.062663,5,23,True,14.020888
7,Chriss,5,TRUE,"Waltz of dots, Gavotte",Classicals,25.624539,5,18,True,16.208180
19,Marcellin,6,TRUE,NaN,NaN,27.199632,6,24,True,19.066544
28,Yanis,9,TRUE,NaN,NaN,2.773064,9,8,True,6.591021
9,Ean,10,TRUE,Two Exercises from Korean book,Classicals,7.645359,10,9,True,8.881786
22,Prince,10,TRUE,When Saints go marching in,NaN,18.329429,10,12,True,13.443143
29,Ishimwe,10,TRUE,Sonata,NaN,9.530104,10,2,True,7.176701
17,Kuzo,10,TRUE,Yezu udukunda,NaN,9.471230,10,2,True,7.157077
24,Roland,12,TRUE,Gavotte,NaN,26.016448,12,7,True,15.005483
1,Benjamin,12,TRUE,Sanctus by TUNEZERWE,Religious,17.386498,12,30,True,19.795499
23,Remmy,13,TRUE,"Danube waves, Agnus Dei par Mozart",NaN,9.594333,13,21,True,14.531444
16,Kevine,13,TRUE,"Fur elise, Canon",NaN,12.281526,13,12,True,12.427175
20,Miguel,14,TRUE,Exercises 51,NaN,10.078415,14,2,True,8.692805
15,Kevin,15,TRUE,"Lacrimosa, ...",NaN,10.738836,15,17,True,14.246279
14,Joy,16,TRUE,weilings,NaN,29.984105,16,27,True,24.328035
6,Champion,17,TRUE,NaN,NaN,5.511889,17,24,True,15.503963
0,Bebeto,17,TRUE,NaN,NaN,20.026554,17,9,True,15.342185
27,Willy Ellis,17,TRUE,NaN,NaN,3.789627,17,21,True,13.929876
5,Bruce Rubangura,18,TRUE,"Alleluia, Danube waves",Religious & Classical,5.514563,18,4,True,9.171521
13,Jabiro Gatsinzi Bright,19,TRUE,"A Song from secrete garden,",NaN,26.332444,19,15,True,20.110815
12,Ezla,20,TRUE,"Amazing Grace, Moderns",Religious & Modern,7.853176,20,30,True,19.284392
3,Benito,20,TRUE,NaN,NaN,11.134371,20,18,True,16.378124
18,Louange,20,TRUE,Concert,NaN,27.767321,20,9,True,18.922440
8,Dario,23,TRUE,"Sarabande, Gymnopedy 1, Nyagasani Nzamwitura i...",Religious & Classical,8.381307,23,30,True,20.460436
4,Bohneur,23,TRUE,"Tuje by KIZITO MIHIGO, Suan Lake",Religious & Classical,26.986662,23,10,True,19.995554
26,Valentin,25,TRUE,NaN,NaN,7.135398,25,13,True,15.045133
10,Emily,26,TRUE,"Danube waves, It is well with my soul",Religious & Classical,9.271200,26,26,True,20.423733
2,Benedicta,29,TRUE,"Arabesque, Minuet in G, Alleluia, Kyrie Messe ...",Classical & Religious,1.662952,29,11,True,13.887651
25,Sango,30,TRUE,NaN,NaN,10.793695,30,12,True,17.597898

In [257]:
# sort by descending order by one column
df_students.sort_values('Testing',ascending = False)

,COMFIRMED LIST,Testing,Decision,Content,Class of content,Position,time_accuracy,date_found,inplace,Average
25,Sango,30,TRUE,NaN,NaN,10.793695,30,12,True,17.597898
2,Benedicta,29,TRUE,"Arabesque, Minuet in G, Alleluia, Kyrie Messe ...",Classical & Religious,1.662952,29,11,True,13.887651
10,Emily,26,TRUE,"Danube waves, It is well with my soul",Religious & Classical,9.271200,26,26,True,20.423733
26,Valentin,25,TRUE,NaN,NaN,7.135398,25,13,True,15.045133
4,Bohneur,23,TRUE,"Tuje by KIZITO MIHIGO, Suan Lake",Religious & Classical,26.986662,23,10,True,19.995554
8,Dario,23,TRUE,"Sarabande, Gymnopedy 1, Nyagasani Nzamwitura i...",Religious & Classical,8.381307,23,30,True,20.460436
12,Ezla,20,TRUE,"Amazing Grace, Moderns",Religious & Modern,7.853176,20,30,True,19.284392
3,Benito,20,TRUE,NaN,NaN,11.134371,20,18,True,16.378124
18,Louange,20,TRUE,Concert,NaN,27.767321,20,9,True,18.922440
13,Jabiro Gatsinzi Bright,19,TRUE,"A Song from secrete garden,",NaN,26.332444,19,15,True,20.110815
5,Bruce Rubangura,18,TRUE,"Alleluia, Danube waves",Religious & Classical,5.514563,18,4,True,9.171521
27,Willy Ellis,17,TRUE,NaN,NaN,3.789627,17,21,True,13.929876
0,Bebeto,17,TRUE,NaN,NaN,20.026554,17,9,True,15.342185
6,Champion,17,TRUE,NaN,NaN,5.511889,17,24,True,15.503963
14,Joy,16,TRUE,weilings,NaN,29.984105,16,27,True,24.328035
15,Kevin,15,TRUE,"Lacrimosa, ...",NaN,10.738836,15,17,True,14.246279
20,Miguel,14,TRUE,Exercises 51,NaN,10.078415,14,2,True,8.692805
23,Remmy,13,TRUE,"Danube waves, Agnus Dei par Mozart",NaN,9.594333,13,21,True,14.531444
16,Kevine,13,TRUE,"Fur elise, Canon",NaN,12.281526,13,12,True,12.427175
24,Roland,12,TRUE,Gavotte,NaN,26.016448,12,7,True,15.005483
1,Benjamin,12,TRUE,Sanctus by TUNEZERWE,Religious,17.386498,12,30,True,19.795499
9,Ean,10,TRUE,Two Exercises from Korean book,Classicals,7.645359,10,9,True,8.881786
29,Ishimwe,10,TRUE,Sonata,NaN,9.530104,10,2,True,7.176701
22,Prince,10,TRUE,When Saints go marching in,NaN,18.329429,10,12,True,13.443143
17,Kuzo,10,TRUE,Yezu udukunda,NaN,9.471230,10,2,True,7.157077
28,Yanis,9,TRUE,NaN,NaN,2.773064,9,8,True,6.591021
19,Marcellin,6,TRUE,NaN,NaN,27.199632,6,24,True,19.066544
21,O'Brien,5,TRUE,"Odd to joy, Sonate by Mozart",NaN,14.062663,5,23,True,14.020888
7,Chriss,5,TRUE,"Waltz of dots, Gavotte",Classicals,25.624539,5,18,True,16.208180
30,TOTAL,4,29,0,100,17.662264,4,9,True,10.220755
11,Ethan,2,TRUE,NaN,NaN,27.889694,2,22,True,17.296565

In [258]:
#  sort descending by multiple columns

df_students.sort_values(['Testing','time_accuracy'],ascending = False)

,COMFIRMED LIST,Testing,Decision,Content,Class of content,Position,time_accuracy,date_found,inplace,Average
25,Sango,30,TRUE,NaN,NaN,10.793695,30,12,True,17.597898
2,Benedicta,29,TRUE,"Arabesque, Minuet in G, Alleluia, Kyrie Messe ...",Classical & Religious,1.662952,29,11,True,13.887651
10,Emily,26,TRUE,"Danube waves, It is well with my soul",Religious & Classical,9.271200,26,26,True,20.423733
26,Valentin,25,TRUE,NaN,NaN,7.135398,25,13,True,15.045133
4,Bohneur,23,TRUE,"Tuje by KIZITO MIHIGO, Suan Lake",Religious & Classical,26.986662,23,10,True,19.995554
8,Dario,23,TRUE,"Sarabande, Gymnopedy 1, Nyagasani Nzamwitura i...",Religious & Classical,8.381307,23,30,True,20.460436
3,Benito,20,TRUE,NaN,NaN,11.134371,20,18,True,16.378124
12,Ezla,20,TRUE,"Amazing Grace, Moderns",Religious & Modern,7.853176,20,30,True,19.284392
18,Louange,20,TRUE,Concert,NaN,27.767321,20,9,True,18.922440
13,Jabiro Gatsinzi Bright,19,TRUE,"A Song from secrete garden,",NaN,26.332444,19,15,True,20.110815
5,Bruce Rubangura,18,TRUE,"Alleluia, Danube waves",Religious & Classical,5.514563,18,4,True,9.171521
0,Bebeto,17,TRUE,NaN,NaN,20.026554,17,9,True,15.342185
6,Champion,17,TRUE,NaN,NaN,5.511889,17,24,True,15.503963
27,Willy Ellis,17,TRUE,NaN,NaN,3.789627,17,21,True,13.929876
14,Joy,16,TRUE,weilings,NaN,29.984105,16,27,True,24.328035
15,Kevin,15,TRUE,"Lacrimosa, ...",NaN,10.738836,15,17,True,14.246279
20,Miguel,14,TRUE,Exercises 51,NaN,10.078415,14,2,True,8.692805
16,Kevine,13,TRUE,"Fur elise, Canon",NaN,12.281526,13,12,True,12.427175
23,Remmy,13,TRUE,"Danube waves, Agnus Dei par Mozart",NaN,9.594333,13,21,True,14.531444
1,Benjamin,12,TRUE,Sanctus by TUNEZERWE,Religious,17.386498,12,30,True,19.795499
24,Roland,12,TRUE,Gavotte,NaN,26.016448,12,7,True,15.005483
9,Ean,10,TRUE,Two Exercises from Korean book,Classicals,7.645359,10,9,True,8.881786
17,Kuzo,10,TRUE,Yezu udukunda,NaN,9.471230,10,2,True,7.157077
22,Prince,10,TRUE,When Saints go marching in,NaN,18.329429,10,12,True,13.443143
29,Ishimwe,10,TRUE,Sonata,NaN,9.530104,10,2,True,7.176701
28,Yanis,9,TRUE,NaN,NaN,2.773064,9,8,True,6.591021
19,Marcellin,6,TRUE,NaN,NaN,27.199632,6,24,True,19.066544
7,Chriss,5,TRUE,"Waltz of dots, Gavotte",Classicals,25.624539,5,18,True,16.208180
21,O'Brien,5,TRUE,"Odd to joy, Sonate by Mozart",NaN,14.062663,5,23,True,14.020888
30,TOTAL,4,29,0,100,17.662264,4,9,True,10.220755
11,Ethan,2,TRUE,NaN,NaN,27.889694,2,22,True,17.296565

In [259]:
df_students

,COMFIRMED LIST,Testing,Decision,Content,Class of content,Position,time_accuracy,date_found,inplace,Average
0,Bebeto,17,TRUE,NaN,NaN,20.026554,17,9,True,15.342185
1,Benjamin,12,TRUE,Sanctus by TUNEZERWE,Religious,17.386498,12,30,True,19.795499
2,Benedicta,29,TRUE,"Arabesque, Minuet in G, Alleluia, Kyrie Messe ...",Classical & Religious,1.662952,29,11,True,13.887651
3,Benito,20,TRUE,NaN,NaN,11.134371,20,18,True,16.378124
4,Bohneur,23,TRUE,"Tuje by KIZITO MIHIGO, Suan Lake",Religious & Classical,26.986662,23,10,True,19.995554
5,Bruce Rubangura,18,TRUE,"Alleluia, Danube waves",Religious & Classical,5.514563,18,4,True,9.171521
6,Champion,17,TRUE,NaN,NaN,5.511889,17,24,True,15.503963
7,Chriss,5,TRUE,"Waltz of dots, Gavotte",Classicals,25.624539,5,18,True,16.208180
8,Dario,23,TRUE,"Sarabande, Gymnopedy 1, Nyagasani Nzamwitura i...",Religious & Classical,8.381307,23,30,True,20.460436
9,Ean,10,TRUE,Two Exercises from Korean book,Classicals,7.645359,10,9,True,8.881786
10,Emily,26,TRUE,"Danube waves, It is well with my soul",Religious & Classical,9.271200,26,26,True,20.423733
11,Ethan,2,TRUE,NaN,NaN,27.889694,2,22,True,17.296565
12,Ezla,20,TRUE,"Amazing Grace, Moderns",Religious & Modern,7.853176,20,30,True,19.284392
13,Jabiro Gatsinzi Bright,19,TRUE,"A Song from secrete garden,",NaN,26.332444,19,15,True,20.110815
14,Joy,16,TRUE,weilings,NaN,29.984105,16,27,True,24.328035
15,Kevin,15,TRUE,"Lacrimosa, ...",NaN,10.738836,15,17,True,14.246279
16,Kevine,13,TRUE,"Fur elise, Canon",NaN,12.281526,13,12,True,12.427175
17,Kuzo,10,TRUE,Yezu udukunda,NaN,9.471230,10,2,True,7.157077
18,Louange,20,TRUE,Concert,NaN,27.767321,20,9,True,18.922440
19,Marcellin,6,TRUE,NaN,NaN,27.199632,6,24,True,19.066544
20,Miguel,14,TRUE,Exercises 51,NaN,10.078415,14,2,True,8.692805
21,O'Brien,5,TRUE,"Odd to joy, Sonate by Mozart",NaN,14.062663,5,23,True,14.020888
22,Prince,10,TRUE,When Saints go marching in,NaN,18.329429,10,12,True,13.443143
23,Remmy,13,TRUE,"Danube waves, Agnus Dei par Mozart",NaN,9.594333,13,21,True,14.531444
24,Roland,12,TRUE,Gavotte,NaN,26.016448,12,7,True,15.005483
25,Sango,30,TRUE,NaN,NaN,10.793695,30,12,True,17.597898
26,Valentin,25,TRUE,NaN,NaN,7.135398,25,13,True,15.045133
27,Willy Ellis,17,TRUE,NaN,NaN,3.789627,17,21,True,13.929876
28,Yanis,9,TRUE,NaN,NaN,2.773064,9,8,True,6.591021
29,Ishimwe,10,TRUE,Sonata,NaN,9.530104,10,2,True,7.176701
30,TOTAL,4,29,0,100,17.662264,4,9,True,10.220755

In [261]:
# sort descending y multiple columns and update dataframe bu sing inplace
df_students.sort_values(['Testing','time_accuracy'],ascending = False, inplace =True)

In [262]:
df_students

,COMFIRMED LIST,Testing,Decision,Content,Class of content,Position,time_accuracy,date_found,inplace,Average
25,Sango,30,TRUE,NaN,NaN,10.793695,30,12,True,17.597898
2,Benedicta,29,TRUE,"Arabesque, Minuet in G, Alleluia, Kyrie Messe ...",Classical & Religious,1.662952,29,11,True,13.887651
10,Emily,26,TRUE,"Danube waves, It is well with my soul",Religious & Classical,9.271200,26,26,True,20.423733
26,Valentin,25,TRUE,NaN,NaN,7.135398,25,13,True,15.045133
4,Bohneur,23,TRUE,"Tuje by KIZITO MIHIGO, Suan Lake",Religious & Classical,26.986662,23,10,True,19.995554
8,Dario,23,TRUE,"Sarabande, Gymnopedy 1, Nyagasani Nzamwitura i...",Religious & Classical,8.381307,23,30,True,20.460436
3,Benito,20,TRUE,NaN,NaN,11.134371,20,18,True,16.378124
12,Ezla,20,TRUE,"Amazing Grace, Moderns",Religious & Modern,7.853176,20,30,True,19.284392
18,Louange,20,TRUE,Concert,NaN,27.767321,20,9,True,18.922440
13,Jabiro Gatsinzi Bright,19,TRUE,"A Song from secrete garden,",NaN,26.332444,19,15,True,20.110815
5,Bruce Rubangura,18,TRUE,"Alleluia, Danube waves",Religious & Classical,5.514563,18,4,True,9.171521
0,Bebeto,17,TRUE,NaN,NaN,20.026554,17,9,True,15.342185
6,Champion,17,TRUE,NaN,NaN,5.511889,17,24,True,15.503963
27,Willy Ellis,17,TRUE,NaN,NaN,3.789627,17,21,True,13.929876
14,Joy,16,TRUE,weilings,NaN,29.984105,16,27,True,24.328035
15,Kevin,15,TRUE,"Lacrimosa, ...",NaN,10.738836,15,17,True,14.246279
20,Miguel,14,TRUE,Exercises 51,NaN,10.078415,14,2,True,8.692805
16,Kevine,13,TRUE,"Fur elise, Canon",NaN,12.281526,13,12,True,12.427175
23,Remmy,13,TRUE,"Danube waves, Agnus Dei par Mozart",NaN,9.594333,13,21,True,14.531444
1,Benjamin,12,TRUE,Sanctus by TUNEZERWE,Religious,17.386498,12,30,True,19.795499
24,Roland,12,TRUE,Gavotte,NaN,26.016448,12,7,True,15.005483
9,Ean,10,TRUE,Two Exercises from Korean book,Classicals,7.645359,10,9,True,8.881786
17,Kuzo,10,TRUE,Yezu udukunda,NaN,9.471230,10,2,True,7.157077
22,Prince,10,TRUE,When Saints go marching in,NaN,18.329429,10,12,True,13.443143
29,Ishimwe,10,TRUE,Sonata,NaN,9.530104,10,2,True,7.176701
28,Yanis,9,TRUE,NaN,NaN,2.773064,9,8,True,6.591021
19,Marcellin,6,TRUE,NaN,NaN,27.199632,6,24,True,19.066544
7,Chriss,5,TRUE,"Waltz of dots, Gavotte",Classicals,25.624539,5,18,True,16.208180
21,O'Brien,5,TRUE,"Odd to joy, Sonate by Mozart",NaN,14.062663,5,23,True,14.020888
30,TOTAL,4,29,0,100,17.662264,4,9,True,10.220755
11,Ethan,2,TRUE,NaN,NaN,27.889694,2,22,True,17.296565

In [263]:
# sort descending with a key function
#df_students.sort_values('COMFIRMED LIST',ascending = True)  # OR
df_students.sort_values('COMFIRMED LIST',ascending = True, key= lambda col: col.str.lower()
)

,COMFIRMED LIST,Testing,Decision,Content,Class of content,Position,time_accuracy,date_found,inplace,Average
0,Bebeto,17,TRUE,NaN,NaN,20.026554,17,9,True,15.342185
2,Benedicta,29,TRUE,"Arabesque, Minuet in G, Alleluia, Kyrie Messe ...",Classical & Religious,1.662952,29,11,True,13.887651
3,Benito,20,TRUE,NaN,NaN,11.134371,20,18,True,16.378124
1,Benjamin,12,TRUE,Sanctus by TUNEZERWE,Religious,17.386498,12,30,True,19.795499
4,Bohneur,23,TRUE,"Tuje by KIZITO MIHIGO, Suan Lake",Religious & Classical,26.986662,23,10,True,19.995554
5,Bruce Rubangura,18,TRUE,"Alleluia, Danube waves",Religious & Classical,5.514563,18,4,True,9.171521
6,Champion,17,TRUE,NaN,NaN,5.511889,17,24,True,15.503963
7,Chriss,5,TRUE,"Waltz of dots, Gavotte",Classicals,25.624539,5,18,True,16.208180
8,Dario,23,TRUE,"Sarabande, Gymnopedy 1, Nyagasani Nzamwitura i...",Religious & Classical,8.381307,23,30,True,20.460436
9,Ean,10,TRUE,Two Exercises from Korean book,Classicals,7.645359,10,9,True,8.881786
10,Emily,26,TRUE,"Danube waves, It is well with my soul",Religious & Classical,9.271200,26,26,True,20.423733
11,Ethan,2,TRUE,NaN,NaN,27.889694,2,22,True,17.296565
12,Ezla,20,TRUE,"Amazing Grace, Moderns",Religious & Modern,7.853176,20,30,True,19.284392
29,Ishimwe,10,TRUE,Sonata,NaN,9.530104,10,2,True,7.176701
13,Jabiro Gatsinzi Bright,19,TRUE,"A Song from secrete garden,",NaN,26.332444,19,15,True,20.110815
14,Joy,16,TRUE,weilings,NaN,29.984105,16,27,True,24.328035
15,Kevin,15,TRUE,"Lacrimosa, ...",NaN,10.738836,15,17,True,14.246279
16,Kevine,13,TRUE,"Fur elise, Canon",NaN,12.281526,13,12,True,12.427175
17,Kuzo,10,TRUE,Yezu udukunda,NaN,9.471230,10,2,True,7.157077
18,Louange,20,TRUE,Concert,NaN,27.767321,20,9,True,18.922440
19,Marcellin,6,TRUE,NaN,NaN,27.199632,6,24,True,19.066544
20,Miguel,14,TRUE,Exercises 51,NaN,10.078415,14,2,True,8.692805
21,O'Brien,5,TRUE,"Odd to joy, Sonate by Mozart",NaN,14.062663,5,23,True,14.020888
22,Prince,10,TRUE,When Saints go marching in,NaN,18.329429,10,12,True,13.443143
23,Remmy,13,TRUE,"Danube waves, Agnus Dei par Mozart",NaN,9.594333,13,21,True,14.531444
24,Roland,12,TRUE,Gavotte,NaN,26.016448,12,7,True,15.005483
25,Sango,30,TRUE,NaN,NaN,10.793695,30,12,True,17.597898
30,TOTAL,4,29,0,100,17.662264,4,9,True,10.220755
26,Valentin,25,TRUE,NaN,NaN,7.135398,25,13,True,15.045133
27,Willy Ellis,17,TRUE,NaN,NaN,3.789627,17,21,True,13.929876
28,Yanis,9,TRUE,NaN,NaN,2.773064,9,8,True,6.591021

# 1 Create Index

In [264]:
# creating non repetitive values for the index
new_index = np.arange(0,31)

In [265]:
# shuffling the index
random.shuffle(new_index)

In [266]:
new_index

array([22,  3, 15, 27,  9, 16, 26, 18, 21, 17,  7, 14, 12, 30,  1, 23, 11,
       20, 25,  0, 28, 19, 13, 10, 29,  8,  6,  5,  2, 24,  4])

In [267]:
df_students['New_Index'] = new_index
df_students

,COMFIRMED LIST,Testing,Decision,Content,Class of content,Position,time_accuracy,date_found,inplace,Average,New_Index
25,Sango,30,TRUE,NaN,NaN,10.793695,30,12,True,17.597898,22
2,Benedicta,29,TRUE,"Arabesque, Minuet in G, Alleluia, Kyrie Messe ...",Classical & Religious,1.662952,29,11,True,13.887651,3
10,Emily,26,TRUE,"Danube waves, It is well with my soul",Religious & Classical,9.271200,26,26,True,20.423733,15
26,Valentin,25,TRUE,NaN,NaN,7.135398,25,13,True,15.045133,27
4,Bohneur,23,TRUE,"Tuje by KIZITO MIHIGO, Suan Lake",Religious & Classical,26.986662,23,10,True,19.995554,9
8,Dario,23,TRUE,"Sarabande, Gymnopedy 1, Nyagasani Nzamwitura i...",Religious & Classical,8.381307,23,30,True,20.460436,16
3,Benito,20,TRUE,NaN,NaN,11.134371,20,18,True,16.378124,26
12,Ezla,20,TRUE,"Amazing Grace, Moderns",Religious & Modern,7.853176,20,30,True,19.284392,18
18,Louange,20,TRUE,Concert,NaN,27.767321,20,9,True,18.922440,21
13,Jabiro Gatsinzi Bright,19,TRUE,"A Song from secrete garden,",NaN,26.332444,19,15,True,20.110815,17
5,Bruce Rubangura,18,TRUE,"Alleluia, Danube waves",Religious & Classical,5.514563,18,4,True,9.171521,7
0,Bebeto,17,TRUE,NaN,NaN,20.026554,17,9,True,15.342185,14
6,Champion,17,TRUE,NaN,NaN,5.511889,17,24,True,15.503963,12
27,Willy Ellis,17,TRUE,NaN,NaN,3.789627,17,21,True,13.929876,30
14,Joy,16,TRUE,weilings,NaN,29.984105,16,27,True,24.328035,1
15,Kevin,15,TRUE,"Lacrimosa, ...",NaN,10.738836,15,17,True,14.246279,23
20,Miguel,14,TRUE,Exercises 51,NaN,10.078415,14,2,True,8.692805,11
16,Kevine,13,TRUE,"Fur elise, Canon",NaN,12.281526,13,12,True,12.427175,20
23,Remmy,13,TRUE,"Danube waves, Agnus Dei par Mozart",NaN,9.594333,13,21,True,14.531444,25
1,Benjamin,12,TRUE,Sanctus by TUNEZERWE,Religious,17.386498,12,30,True,19.795499,0
24,Roland,12,TRUE,Gavotte,NaN,26.016448,12,7,True,15.005483,28
9,Ean,10,TRUE,Two Exercises from Korean book,Classicals,7.645359,10,9,True,8.881786,19
17,Kuzo,10,TRUE,Yezu udukunda,NaN,9.471230,10,2,True,7.157077,13
22,Prince,10,TRUE,When Saints go marching in,NaN,18.329429,10,12,True,13.443143,10
29,Ishimwe,10,TRUE,Sonata,NaN,9.530104,10,2,True,7.176701,29
28,Yanis,9,TRUE,NaN,NaN,2.773064,9,8,True,6.591021,8
19,Marcellin,6,TRUE,NaN,NaN,27.199632,6,24,True,19.066544,6
7,Chriss,5,TRUE,"Waltz of dots, Gavotte",Classicals,25.624539,5,18,True,16.208180,5
21,O'Brien,5,TRUE,"Odd to joy, Sonate by Mozart",NaN,14.062663,5,23,True,14.020888,2
30,TOTAL,4,29,0,100,17.662264,4,9,True,10.220755,24
11,Ethan,2,TRUE,NaN,NaN,27.889694,2,22,True,17.296565,4

In [268]:
# Set new-index column as index
df_students.set_index('New_Index',inplace = True)

In [269]:
df_students

,COMFIRMED LIST,Testing,Decision,Content,Class of content,Position,time_accuracy,date_found,inplace,Average
New_Index,,,,,,,,,,
22,Sango,30,TRUE,NaN,NaN,10.793695,30,12,True,17.597898
3,Benedicta,29,TRUE,"Arabesque, Minuet in G, Alleluia, Kyrie Messe ...",Classical & Religious,1.662952,29,11,True,13.887651
15,Emily,26,TRUE,"Danube waves, It is well with my soul",Religious & Classical,9.271200,26,26,True,20.423733
27,Valentin,25,TRUE,NaN,NaN,7.135398,25,13,True,15.045133
9,Bohneur,23,TRUE,"Tuje by KIZITO MIHIGO, Suan Lake",Religious & Classical,26.986662,23,10,True,19.995554
16,Dario,23,TRUE,"Sarabande, Gymnopedy 1, Nyagasani Nzamwitura i...",Religious & Classical,8.381307,23,30,True,20.460436
26,Benito,20,TRUE,NaN,NaN,11.134371,20,18,True,16.378124
18,Ezla,20,TRUE,"Amazing Grace, Moderns",Religious & Modern,7.853176,20,30,True,19.284392
21,Louange,20,TRUE,Concert,NaN,27.767321,20,9,True,18.922440
17,Jabiro Gatsinzi Bright,19,TRUE,"A Song from secrete garden,",NaN,26.332444,19,15,True,20.110815
7,Bruce Rubangura,18,TRUE,"Alleluia, Danube waves",Religious & Classical,5.514563,18,4,True,9.171521
14,Bebeto,17,TRUE,NaN,NaN,20.026554,17,9,True,15.342185
12,Champion,17,TRUE,NaN,NaN,5.511889,17,24,True,15.503963
30,Willy Ellis,17,TRUE,NaN,NaN,3.789627,17,21,True,13.929876
1,Joy,16,TRUE,weilings,NaN,29.984105,16,27,True,24.328035
23,Kevin,15,TRUE,"Lacrimosa, ...",NaN,10.738836,15,17,True,14.246279
11,Miguel,14,TRUE,Exercises 51,NaN,10.078415,14,2,True,8.692805
20,Kevine,13,TRUE,"Fur elise, Canon",NaN,12.281526,13,12,True,12.427175
25,Remmy,13,TRUE,"Danube waves, Agnus Dei par Mozart",NaN,9.594333,13,21,True,14.531444
0,Benjamin,12,TRUE,Sanctus by TUNEZERWE,Religious,17.386498,12,30,True,19.795499
28,Roland,12,TRUE,Gavotte,NaN,26.016448,12,7,True,15.005483
19,Ean,10,TRUE,Two Exercises from Korean book,Classicals,7.645359,10,9,True,8.881786
13,Kuzo,10,TRUE,Yezu udukunda,NaN,9.471230,10,2,True,7.157077
10,Prince,10,TRUE,When Saints go marching in,NaN,18.329429,10,12,True,13.443143
29,Ishimwe,10,TRUE,Sonata,NaN,9.530104,10,2,True,7.176701
8,Yanis,9,TRUE,NaN,NaN,2.773064,9,8,True,6.591021
6,Marcellin,6,TRUE,NaN,NaN,27.199632,6,24,True,19.066544
5,Chriss,5,TRUE,"Waltz of dots, Gavotte",Classicals,25.624539,5,18,True,16.208180
2,O'Brien,5,TRUE,"Odd to joy, Sonate by Mozart",NaN,14.062663,5,23,True,14.020888
24,TOTAL,4,29,0,100,17.662264,4,9,True,10.220755
4,Ethan,2,TRUE,NaN,NaN,27.889694,2,22,True,17.296565

# Sort Index

In [270]:
# sort daraframe by new index
df_students=df_students.sort_values('New_Index')

In [271]:
# sort descending by index
df_students.sort_values("New_Index",ascending = True,inplace=True)

In [272]:
df_students

,COMFIRMED LIST,Testing,Decision,Content,Class of content,Position,time_accuracy,date_found,inplace,Average
New_Index,,,,,,,,,,
0,Benjamin,12,TRUE,Sanctus by TUNEZERWE,Religious,17.386498,12,30,True,19.795499
1,Joy,16,TRUE,weilings,NaN,29.984105,16,27,True,24.328035
2,O'Brien,5,TRUE,"Odd to joy, Sonate by Mozart",NaN,14.062663,5,23,True,14.020888
3,Benedicta,29,TRUE,"Arabesque, Minuet in G, Alleluia, Kyrie Messe ...",Classical & Religious,1.662952,29,11,True,13.887651
4,Ethan,2,TRUE,NaN,NaN,27.889694,2,22,True,17.296565
5,Chriss,5,TRUE,"Waltz of dots, Gavotte",Classicals,25.624539,5,18,True,16.208180
6,Marcellin,6,TRUE,NaN,NaN,27.199632,6,24,True,19.066544
7,Bruce Rubangura,18,TRUE,"Alleluia, Danube waves",Religious & Classical,5.514563,18,4,True,9.171521
8,Yanis,9,TRUE,NaN,NaN,2.773064,9,8,True,6.591021
9,Bohneur,23,TRUE,"Tuje by KIZITO MIHIGO, Suan Lake",Religious & Classical,26.986662,23,10,True,19.995554
10,Prince,10,TRUE,When Saints go marching in,NaN,18.329429,10,12,True,13.443143
11,Miguel,14,TRUE,Exercises 51,NaN,10.078415,14,2,True,8.692805
12,Champion,17,TRUE,NaN,NaN,5.511889,17,24,True,15.503963
13,Kuzo,10,TRUE,Yezu udukunda,NaN,9.471230,10,2,True,7.157077
14,Bebeto,17,TRUE,NaN,NaN,20.026554,17,9,True,15.342185
15,Emily,26,TRUE,"Danube waves, It is well with my soul",Religious & Classical,9.271200,26,26,True,20.423733
16,Dario,23,TRUE,"Sarabande, Gymnopedy 1, Nyagasani Nzamwitura i...",Religious & Classical,8.381307,23,30,True,20.460436
17,Jabiro Gatsinzi Bright,19,TRUE,"A Song from secrete garden,",NaN,26.332444,19,15,True,20.110815
18,Ezla,20,TRUE,"Amazing Grace, Moderns",Religious & Modern,7.853176,20,30,True,19.284392
19,Ean,10,TRUE,Two Exercises from Korean book,Classicals,7.645359,10,9,True,8.881786
20,Kevine,13,TRUE,"Fur elise, Canon",NaN,12.281526,13,12,True,12.427175
21,Louange,20,TRUE,Concert,NaN,27.767321,20,9,True,18.922440
22,Sango,30,TRUE,NaN,NaN,10.793695,30,12,True,17.597898
23,Kevin,15,TRUE,"Lacrimosa, ...",NaN,10.738836,15,17,True,14.246279
24,TOTAL,4,29,0,100,17.662264,4,9,True,10.220755
25,Remmy,13,TRUE,"Danube waves, Agnus Dei par Mozart",NaN,9.594333,13,21,True,14.531444
26,Benito,20,TRUE,NaN,NaN,11.134371,20,18,True,16.378124
27,Valentin,25,TRUE,NaN,NaN,7.135398,25,13,True,15.045133
28,Roland,12,TRUE,Gavotte,NaN,26.016448,12,7,True,15.005483
29,Ishimwe,10,TRUE,Sonata,NaN,9.530104,10,2,True,7.176701
30,Willy Ellis,17,TRUE,NaN,NaN,3.789627,17,21,True,13.929876

# Re_Name Column

In [273]:
df_students.index.name = 'Indexes'

In [274]:
 #remane column and overwrite values of the dataframe
df_students.rename(columns ={'Decision':'Final'},inplace=True)

In [275]:
df_students

,COMFIRMED LIST,Testing,Final,Content,Class of content,Position,time_accuracy,date_found,inplace,Average
Indexes,,,,,,,,,,
0,Benjamin,12,TRUE,Sanctus by TUNEZERWE,Religious,17.386498,12,30,True,19.795499
1,Joy,16,TRUE,weilings,NaN,29.984105,16,27,True,24.328035
2,O'Brien,5,TRUE,"Odd to joy, Sonate by Mozart",NaN,14.062663,5,23,True,14.020888
3,Benedicta,29,TRUE,"Arabesque, Minuet in G, Alleluia, Kyrie Messe ...",Classical & Religious,1.662952,29,11,True,13.887651
4,Ethan,2,TRUE,NaN,NaN,27.889694,2,22,True,17.296565
5,Chriss,5,TRUE,"Waltz of dots, Gavotte",Classicals,25.624539,5,18,True,16.208180
6,Marcellin,6,TRUE,NaN,NaN,27.199632,6,24,True,19.066544
7,Bruce Rubangura,18,TRUE,"Alleluia, Danube waves",Religious & Classical,5.514563,18,4,True,9.171521
8,Yanis,9,TRUE,NaN,NaN,2.773064,9,8,True,6.591021
9,Bohneur,23,TRUE,"Tuje by KIZITO MIHIGO, Suan Lake",Religious & Classical,26.986662,23,10,True,19.995554
10,Prince,10,TRUE,When Saints go marching in,NaN,18.329429,10,12,True,13.443143
11,Miguel,14,TRUE,Exercises 51,NaN,10.078415,14,2,True,8.692805
12,Champion,17,TRUE,NaN,NaN,5.511889,17,24,True,15.503963
13,Kuzo,10,TRUE,Yezu udukunda,NaN,9.471230,10,2,True,7.157077
14,Bebeto,17,TRUE,NaN,NaN,20.026554,17,9,True,15.342185
15,Emily,26,TRUE,"Danube waves, It is well with my soul",Religious & Classical,9.271200,26,26,True,20.423733
16,Dario,23,TRUE,"Sarabande, Gymnopedy 1, Nyagasani Nzamwitura i...",Religious & Classical,8.381307,23,30,True,20.460436
17,Jabiro Gatsinzi Bright,19,TRUE,"A Song from secrete garden,",NaN,26.332444,19,15,True,20.110815
18,Ezla,20,TRUE,"Amazing Grace, Moderns",Religious & Modern,7.853176,20,30,True,19.284392
19,Ean,10,TRUE,Two Exercises from Korean book,Classicals,7.645359,10,9,True,8.881786
20,Kevine,13,TRUE,"Fur elise, Canon",NaN,12.281526,13,12,True,12.427175
21,Louange,20,TRUE,Concert,NaN,27.767321,20,9,True,18.922440
22,Sango,30,TRUE,NaN,NaN,10.793695,30,12,True,17.597898
23,Kevin,15,TRUE,"Lacrimosa, ...",NaN,10.738836,15,17,True,14.246279
24,TOTAL,4,29,0,100,17.662264,4,9,True,10.220755
25,Remmy,13,TRUE,"Danube waves, Agnus Dei par Mozart",NaN,9.594333,13,21,True,14.531444
26,Benito,20,TRUE,NaN,NaN,11.134371,20,18,True,16.378124
27,Valentin,25,TRUE,NaN,NaN,7.135398,25,13,True,15.045133
28,Roland,12,TRUE,Gavotte,NaN,26.016448,12,7,True,15.005483
29,Ishimwe,10,TRUE,Sonata,NaN,9.530104,10,2,True,7.176701
30,Willy Ellis,17,TRUE,NaN,NaN,3.789627,17,21,True,13.929876

In [276]:
# rename multiple columns and update the dataframe with inplace argument
df_students.rename(columns={'COMFIRMED LIST':'CL','Class of content': 'COC','time_accuracy':'TA' , 'date_found' :'DF'},inplace=True)

In [277]:
# show dataframe
df_students

,CL,Testing,Final,Content,COC,Position,TA,DF,inplace,Average
Indexes,,,,,,,,,,
0,Benjamin,12,TRUE,Sanctus by TUNEZERWE,Religious,17.386498,12,30,True,19.795499
1,Joy,16,TRUE,weilings,NaN,29.984105,16,27,True,24.328035
2,O'Brien,5,TRUE,"Odd to joy, Sonate by Mozart",NaN,14.062663,5,23,True,14.020888
3,Benedicta,29,TRUE,"Arabesque, Minuet in G, Alleluia, Kyrie Messe ...",Classical & Religious,1.662952,29,11,True,13.887651
4,Ethan,2,TRUE,NaN,NaN,27.889694,2,22,True,17.296565
5,Chriss,5,TRUE,"Waltz of dots, Gavotte",Classicals,25.624539,5,18,True,16.208180
6,Marcellin,6,TRUE,NaN,NaN,27.199632,6,24,True,19.066544
7,Bruce Rubangura,18,TRUE,"Alleluia, Danube waves",Religious & Classical,5.514563,18,4,True,9.171521
8,Yanis,9,TRUE,NaN,NaN,2.773064,9,8,True,6.591021
9,Bohneur,23,TRUE,"Tuje by KIZITO MIHIGO, Suan Lake",Religious & Classical,26.986662,23,10,True,19.995554
10,Prince,10,TRUE,When Saints go marching in,NaN,18.329429,10,12,True,13.443143
11,Miguel,14,TRUE,Exercises 51,NaN,10.078415,14,2,True,8.692805
12,Champion,17,TRUE,NaN,NaN,5.511889,17,24,True,15.503963
13,Kuzo,10,TRUE,Yezu udukunda,NaN,9.471230,10,2,True,7.157077
14,Bebeto,17,TRUE,NaN,NaN,20.026554,17,9,True,15.342185
15,Emily,26,TRUE,"Danube waves, It is well with my soul",Religious & Classical,9.271200,26,26,True,20.423733
16,Dario,23,TRUE,"Sarabande, Gymnopedy 1, Nyagasani Nzamwitura i...",Religious & Classical,8.381307,23,30,True,20.460436
17,Jabiro Gatsinzi Bright,19,TRUE,"A Song from secrete garden,",NaN,26.332444,19,15,True,20.110815
18,Ezla,20,TRUE,"Amazing Grace, Moderns",Religious & Modern,7.853176,20,30,True,19.284392
19,Ean,10,TRUE,Two Exercises from Korean book,Classicals,7.645359,10,9,True,8.881786
20,Kevine,13,TRUE,"Fur elise, Canon",NaN,12.281526,13,12,True,12.427175
21,Louange,20,TRUE,Concert,NaN,27.767321,20,9,True,18.922440
22,Sango,30,TRUE,NaN,NaN,10.793695,30,12,True,17.597898
23,Kevin,15,TRUE,"Lacrimosa, ...",NaN,10.738836,15,17,True,14.246279
24,TOTAL,4,29,0,100,17.662264,4,9,True,10.220755
25,Remmy,13,TRUE,"Danube waves, Agnus Dei par Mozart",NaN,9.594333,13,21,True,14.531444
26,Benito,20,TRUE,NaN,NaN,11.134371,20,18,True,16.378124
27,Valentin,25,TRUE,NaN,NaN,7.135398,25,13,True,15.045133
28,Roland,12,TRUE,Gavotte,NaN,26.016448,12,7,True,15.005483
29,Ishimwe,10,TRUE,Sonata,NaN,9.530104,10,2,True,7.176701
30,Willy Ellis,17,TRUE,NaN,NaN,3.789627,17,21,True,13.929876

### 2 Rename Index

In [278]:
# rename index 0 ,1 and 2 and update the dataframe
df_students.rename(index={0: 'A',1:'B',2:'C'},inplace=True)

In [279]:
df_students

,CL,Testing,Final,Content,COC,Position,TA,DF,inplace,Average
Indexes,,,,,,,,,,
A,Benjamin,12,TRUE,Sanctus by TUNEZERWE,Religious,17.386498,12,30,True,19.795499
B,Joy,16,TRUE,weilings,NaN,29.984105,16,27,True,24.328035
C,O'Brien,5,TRUE,"Odd to joy, Sonate by Mozart",NaN,14.062663,5,23,True,14.020888
3,Benedicta,29,TRUE,"Arabesque, Minuet in G, Alleluia, Kyrie Messe ...",Classical & Religious,1.662952,29,11,True,13.887651
4,Ethan,2,TRUE,NaN,NaN,27.889694,2,22,True,17.296565
5,Chriss,5,TRUE,"Waltz of dots, Gavotte",Classicals,25.624539,5,18,True,16.208180
6,Marcellin,6,TRUE,NaN,NaN,27.199632,6,24,True,19.066544
7,Bruce Rubangura,18,TRUE,"Alleluia, Danube waves",Religious & Classical,5.514563,18,4,True,9.171521
8,Yanis,9,TRUE,NaN,NaN,2.773064,9,8,True,6.591021
9,Bohneur,23,TRUE,"Tuje by KIZITO MIHIGO, Suan Lake",Religious & Classical,26.986662,23,10,True,19.995554
10,Prince,10,TRUE,When Saints go marching in,NaN,18.329429,10,12,True,13.443143
11,Miguel,14,TRUE,Exercises 51,NaN,10.078415,14,2,True,8.692805
12,Champion,17,TRUE,NaN,NaN,5.511889,17,24,True,15.503963
13,Kuzo,10,TRUE,Yezu udukunda,NaN,9.471230,10,2,True,7.157077
14,Bebeto,17,TRUE,NaN,NaN,20.026554,17,9,True,15.342185
15,Emily,26,TRUE,"Danube waves, It is well with my soul",Religious & Classical,9.271200,26,26,True,20.423733
16,Dario,23,TRUE,"Sarabande, Gymnopedy 1, Nyagasani Nzamwitura i...",Religious & Classical,8.381307,23,30,True,20.460436
17,Jabiro Gatsinzi Bright,19,TRUE,"A Song from secrete garden,",NaN,26.332444,19,15,True,20.110815
18,Ezla,20,TRUE,"Amazing Grace, Moderns",Religious & Modern,7.853176,20,30,True,19.284392
19,Ean,10,TRUE,Two Exercises from Korean book,Classicals,7.645359,10,9,True,8.881786
20,Kevine,13,TRUE,"Fur elise, Canon",NaN,12.281526,13,12,True,12.427175
21,Louange,20,TRUE,Concert,NaN,27.767321,20,9,True,18.922440
22,Sango,30,TRUE,NaN,NaN,10.793695,30,12,True,17.597898
23,Kevin,15,TRUE,"Lacrimosa, ...",NaN,10.738836,15,17,True,14.246279
24,TOTAL,4,29,0,100,17.662264,4,9,True,10.220755
25,Remmy,13,TRUE,"Danube waves, Agnus Dei par Mozart",NaN,9.594333,13,21,True,14.531444
26,Benito,20,TRUE,NaN,NaN,11.134371,20,18,True,16.378124
27,Valentin,25,TRUE,NaN,NaN,7.135398,25,13,True,15.045133
28,Roland,12,TRUE,Gavotte,NaN,26.016448,12,7,True,15.005483
29,Ishimwe,10,TRUE,Sonata,NaN,9.530104,10,2,True,7.176701
30,Willy Ellis,17,TRUE,NaN,NaN,3.789627,17,21,True,13.929876

# PROJECT 1- Web Scraping with pandas

## 1 Read a.csv from a URL with Pandas

#### Target Website https://www.football-data.co.uk/data.php

###SEASON 2021

In [3]:
web =pd.read_csv('https://www.football-data.co.uk/mmz4281/2526/E0.csv')

In [4]:
# showing dataframe
pd.DataFrame(web)

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,15/08/2025,20:00,Liverpool,Bournemouth,4,2,H,1,0,...,2.03,1.78,2.07,1.85,2.03,1.88,1.94,1.76,2.14,1.86
1,E0,16/08/2025,12:30,Aston Villa,Newcastle,0,0,D,0,0,...,2.05,1.80,2.02,1.89,2.06,1.80,1.95,1.74,2.14,1.86
2,E0,16/08/2025,15:00,Brighton,Fulham,1,1,D,0,0,...,1.83,2.03,1.93,2.00,1.84,2.03,1.80,1.96,1.91,2.08
3,E0,16/08/2025,15:00,Sunderland,West Ham,3,0,H,0,0,...,1.95,1.90,1.97,1.95,1.95,1.94,1.86,1.78,2.02,1.97
4,E0,16/08/2025,15:00,Tottenham,Burnley,3,0,H,1,0,...,1.98,1.88,1.99,1.93,1.98,1.91,1.88,1.83,2.07,1.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,E0,09/11/2025,14:00,Aston Villa,Bournemouth,4,0,H,2,0,...,2.00,1.85,2.05,1.88,2.00,1.85,1.95,1.83,2.09,1.91
106,E0,09/11/2025,14:00,Brentford,Newcastle,3,1,H,0,1,...,2.05,1.80,2.14,1.81,2.05,1.83,2.02,1.76,2.19,1.83
107,E0,09/11/2025,14:00,Crystal Palace,Brighton,0,0,D,0,0,...,2.05,1.80,2.10,1.84,2.05,1.80,2.01,1.77,2.12,1.88
108,E0,09/11/2025,14:00,Nott'm Forest,Leeds,3,1,H,1,1,...,1.88,1.98,1.91,2.02,1.92,1.98,1.87,1.90,1.97,2.01
109,E0,09/11/2025,16:30,Man City,Liverpool,3,0,H,2,0,...,1.83,2.03,1.94,1.98,1.93,2.03,1.86,1.91,1.94,2.05

In [5]:
# rename columns
web.rename(columns={'FTHG': 'Home_Goals','FTAG': 'away_Goals'},inplace=True)

In [6]:
#show dataframe
web

,Div,Date,Time,HomeTeam,AwayTeam,Home_Goals,away_Goals,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,15/08/2025,20:00,Liverpool,Bournemouth,4,2,H,1,0,...,2.03,1.78,2.07,1.85,2.03,1.88,1.94,1.76,2.14,1.86
1,E0,16/08/2025,12:30,Aston Villa,Newcastle,0,0,D,0,0,...,2.05,1.80,2.02,1.89,2.06,1.80,1.95,1.74,2.14,1.86
2,E0,16/08/2025,15:00,Brighton,Fulham,1,1,D,0,0,...,1.83,2.03,1.93,2.00,1.84,2.03,1.80,1.96,1.91,2.08
3,E0,16/08/2025,15:00,Sunderland,West Ham,3,0,H,0,0,...,1.95,1.90,1.97,1.95,1.95,1.94,1.86,1.78,2.02,1.97
4,E0,16/08/2025,15:00,Tottenham,Burnley,3,0,H,1,0,...,1.98,1.88,1.99,1.93,1.98,1.91,1.88,1.83,2.07,1.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,E0,09/11/2025,14:00,Aston Villa,Bournemouth,4,0,H,2,0,...,2.00,1.85,2.05,1.88,2.00,1.85,1.95,1.83,2.09,1.91
106,E0,09/11/2025,14:00,Brentford,Newcastle,3,1,H,0,1,...,2.05,1.80,2.14,1.81,2.05,1.83,2.02,1.76,2.19,1.83
107,E0,09/11/2025,14:00,Crystal Palace,Brighton,0,0,D,0,0,...,2.05,1.80,2.10,1.84,2.05,1.80,2.01,1.77,2.12,1.88
108,E0,09/11/2025,14:00,Nott'm Forest,Leeds,3,1,H,1,1,...,1.88,1.98,1.91,2.02,1.92,1.98,1.87,1.90,1.97,2.01
109,E0,09/11/2025,16:30,Man City,Liverpool,3,0,H,2,0,...,1.83,2.03,1.94,1.98,1.93,2.03,1.86,1.91,1.94,2.05

In [12]:
web.head(20)

,Div,Date,Time,HomeTeam,AwayTeam,Home_Goals,away_Goals,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,15/08/2025,20:00,Liverpool,Bournemouth,4,2,H,1,0,...,2.03,1.78,2.07,1.85,2.03,1.88,1.94,1.76,2.14,1.86
1,E0,16/08/2025,12:30,Aston Villa,Newcastle,0,0,D,0,0,...,2.05,1.80,2.02,1.89,2.06,1.80,1.95,1.74,2.14,1.86
2,E0,16/08/2025,15:00,Brighton,Fulham,1,1,D,0,0,...,1.83,2.03,1.93,2.00,1.84,2.03,1.80,1.96,1.91,2.08
3,E0,16/08/2025,15:00,Sunderland,West Ham,3,0,H,0,0,...,1.95,1.90,1.97,1.95,1.95,1.94,1.86,1.78,2.02,1.97
4,E0,16/08/2025,15:00,Tottenham,Burnley,3,0,H,1,0,...,1.98,1.88,1.99,1.93,1.98,1.91,1.88,1.83,2.07,1.92
5,E0,16/08/2025,17:30,Wolves,Man City,0,4,A,0,2,...,1.98,1.88,2.07,1.86,2.04,1.88,1.91,1.81,2.05,1.94
6,E0,17/08/2025,14:00,Chelsea,Crystal Palace,0,0,D,0,0,...,1.85,2.00,1.74,2.21,1.85,2.03,1.79,1.97,1.88,2.12
7,E0,17/08/2025,14:00,Nott'm Forest,Brentford,3,1,H,3,0,...,1.88,1.98,2.18,1.76,1.91,1.98,1.86,1.89,1.96,2.03
8,E0,17/08/2025,16:30,Man United,Arsenal,0,1,A,0,1,...,1.88,1.98,1.91,2.01,1.93,1.98,1.86,1.89,2.00,1.99
9,E0,18/08/2025,20:00,Leeds,Everton,1,0,H,0,0,...,2.05,1.80,2.02,1.90,2.05,1.86,1.91,1.78,2.14,1.86
10,E0,22/08/2025,20:00,West Ham,Chelsea,1,5,A,1,3,...,1.83,2.03,2.06,1.87,1.95,2.03,1.85,1.89,2.02,1.96
11,E0,23/08/2025,12:30,Man City,Tottenham,0,2,A,0,2,...,1.87,1.87,1.83,2.11,1.87,2.09,1.81,1.95,1.94,2.04
12,E0,23/08/2025,15:00,Bournemouth,Wolves,1,0,H,1,0,...,2.05,1.80,2.05,1.88,2.07,1.81,1.99,1.76,2.17,1.83
13,E0,23/08/2025,15:00,Brentford,Aston Villa,1,0,H,1,0,...,2.03,1.83,1.94,1.98,2.03,1.93,1.92,1.78,2.04,1.93
14,E0,23/08/2025,15:00,Burnley,Sunderland,2,0,H,0,0,...,2.00,1.85,2.00,1.93,2.02,1.85,1.94,1.80,2.09,1.90
15,E0,23/08/2025,17:30,Arsenal,Leeds,5,0,H,2,0,...,2.00,1.85,2.04,1.88,2.00,1.91,1.91,1.85,2.06,1.92
16,E0,24/08/2025,14:00,Crystal Palace,Nott'm Forest,1,1,D,1,0,...,1.99,1.74,2.10,1.84,2.04,1.81,1.95,1.77,2.13,1.88
17,E0,24/08/2025,14:00,Everton,Brighton,2,0,H,1,0,...,2.04,1.72,2.24,1.73,2.10,1.76,2.06,1.72,2.24,1.80
18,E0,24/08/2025,16:30,Fulham,Man United,1,1,D,0,0,...,2.03,1.83,2.04,1.88,2.04,1.83,2.01,1.71,2.13,1.87
19,E0,25/08/2025,20:00,Newcastle,Liverpool,2,3,A,0,1,...,1.83,2.03,1.87,2.07,1.85,2.03,1.83,1.88,1.93,2.06

## 2 Read .csv from Multiple URLs With Pandas

#### Link root + season + League

In [181]:
# Link structure
https://www.football-data.co.uk/mmz4281/" +"2122" +"/" + 'E0" + ".csv"

SyntaxError: invalid syntax (1253650990.py, line 2)

In [7]:
# create a root variable
root = "https://www.football-data.co.uk/mmz4281/"

## 2.1 Multiple Leagues

##### . https://www.football-data.co.uk/mmz4281/2122/E0.csv
##### . https://www.football-data.co.uk/mmz4281/2122/E1.csv
##### . https://www.football-data.co.uk/mmz4281/2122/E2.csv
##### . https://www.football-data.co.uk/mmz4281/2122/E3.csv
##### . https://www.football-data.co.uk/mmz4281/2122/EC.csv

In [8]:
leagues = ['E0','E1','E2','E3','EC']
frames = []

#looping through leagues,read multiple csv and append it into a list
for league in leagues:
   df = pd.read_csv( root + '2122' + '/' + league + '.csv',encoding = 'unicode_escape')
   frames.append(df)

In [9]:
#show length of frames
len(frames)

5

In [112]:
# show a list 1st,2nd and 3rd element
frames[0]

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,13/08/2021,20:00,Brentford,Arsenal,2,0,H,1,0,...,1.62,0.50,1.75,2.05,1.81,2.13,2.05,2.17,1.80,2.09
1,E0,14/08/2021,12:30,Man United,Leeds,5,1,H,1,0,...,2.25,-1.00,2.05,1.75,2.17,1.77,2.19,1.93,2.10,1.79
2,E0,14/08/2021,15:00,Burnley,Brighton,1,2,A,1,0,...,1.62,0.25,1.79,2.15,1.81,2.14,1.82,2.19,1.79,2.12
3,E0,14/08/2021,15:00,Chelsea,Crystal Palace,3,0,H,2,0,...,1.94,-1.50,2.05,1.75,2.12,1.81,2.16,1.93,2.06,1.82
4,E0,14/08/2021,15:00,Everton,Southampton,3,1,H,0,1,...,1.67,-0.50,2.05,1.88,2.05,1.88,2.08,1.90,2.03,1.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,22/05/2022,16:00,Crystal Palace,Man United,1,0,H,1,0,...,2.04,0.25,1.68,2.15,1.74,2.23,1.88,2.25,1.74,2.16
376,E0,22/05/2022,16:00,Leicester,Southampton,4,1,H,0,0,...,2.63,-0.75,1.83,2.07,1.88,2.03,1.94,2.26,1.87,2.01
377,E0,22/05/2022,16:00,Liverpool,Wolves,3,1,H,1,1,...,3.28,-2.50,2.02,1.77,2.06,1.83,2.19,1.99,2.07,1.80
378,E0,22/05/2022,16:00,Man City,Aston Villa,3,2,H,0,1,...,3.36,-2.25,2.06,1.84,2.05,1.86,2.09,2.03,2.01,1.87
379,E0,22/05/2022,16:00,Norwich,Tottenham,0,5,A,0,2,...,2.40,1.50,1.95,1.95,1.96,1.94,2.16,1.98,1.99,1.89

In [115]:
frames[4]

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,EC,21/08/2021,15:00,Aldershot,Chesterfield,0,2,A,0,0,...,1.93,0.50,1.98,1.83,2.03,1.83,2.05,1.90,1.97,1.80
1,EC,21/08/2021,15:00,Barnet,Notts County,0,5,A,0,0,...,2.06,0.75,1.88,1.93,1.90,1.95,2.00,1.95,1.90,1.88
2,EC,21/08/2021,15:00,Halifax,Maidenhead,1,2,A,1,0,...,1.94,-0.50,1.93,1.88,1.99,1.87,2.03,1.93,1.94,1.84
3,EC,21/08/2021,15:00,Kings Lynn,Southend,0,1,A,0,1,...,1.91,0.25,1.75,2.05,1.81,2.06,1.90,2.11,1.76,2.02
4,EC,21/08/2021,15:00,Solihull,Wrexham,2,2,D,1,2,...,1.85,0.00,2.05,1.75,1.93,1.92,2.05,1.98,1.92,1.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,EC,15/05/2022,15:00,Dover Athletic,Weymouth,1,2,A,0,1,...,2.50,0.25,1.88,1.93,1.87,1.98,1.90,1.98,1.85,1.93
502,EC,15/05/2022,15:00,Eastleigh,Grimsby,4,4,D,0,2,...,2.30,0.50,1.88,1.93,1.88,1.98,1.95,1.98,1.87,1.90
503,EC,15/05/2022,15:00,Maidenhead,Notts County,0,1,A,0,0,...,2.42,0.50,1.95,1.85,2.03,1.83,2.03,1.96,1.92,1.87
504,EC,15/05/2022,15:00,Southend,Torquay,1,1,D,0,1,...,2.01,-0.25,2.02,1.77,2.03,1.83,2.07,1.85,2.00,1.80
505,EC,15/05/2022,15:00,Stockport,Halifax,2,0,H,1,0,...,1.97,-0.75,1.80,2.00,1.79,2.08,1.93,2.08,1.84,1.95

# season 2025-2026

In [ ]:
# links https://www.football-data.co.uk/mmz4281/2526/E0.csv

In [10]:
roots = 'https://www.football-data.co.uk/mmz4281/'

In [11]:
#create the loop
champions = ['E0','E1','E2','E3','EC']
champ = []

# create the loop through the champions and read them and after append them
#into champ
for champion in champions:
    dfs= pd.read_csv( roots + '2526' + '/' + champion + '.csv')
    champ.append(dfs)

In [12]:
# show a champ
champ[0]

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,15/08/2025,20:00,Liverpool,Bournemouth,4,2,H,1,0,...,2.03,1.78,2.07,1.85,2.03,1.88,1.94,1.76,2.14,1.86
1,E0,16/08/2025,12:30,Aston Villa,Newcastle,0,0,D,0,0,...,2.05,1.80,2.02,1.89,2.06,1.80,1.95,1.74,2.14,1.86
2,E0,16/08/2025,15:00,Brighton,Fulham,1,1,D,0,0,...,1.83,2.03,1.93,2.00,1.84,2.03,1.80,1.96,1.91,2.08
3,E0,16/08/2025,15:00,Sunderland,West Ham,3,0,H,0,0,...,1.95,1.90,1.97,1.95,1.95,1.94,1.86,1.78,2.02,1.97
4,E0,16/08/2025,15:00,Tottenham,Burnley,3,0,H,1,0,...,1.98,1.88,1.99,1.93,1.98,1.91,1.88,1.83,2.07,1.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,E0,09/11/2025,14:00,Aston Villa,Bournemouth,4,0,H,2,0,...,2.00,1.85,2.05,1.88,2.00,1.85,1.95,1.83,2.09,1.91
106,E0,09/11/2025,14:00,Brentford,Newcastle,3,1,H,0,1,...,2.05,1.80,2.14,1.81,2.05,1.83,2.02,1.76,2.19,1.83
107,E0,09/11/2025,14:00,Crystal Palace,Brighton,0,0,D,0,0,...,2.05,1.80,2.10,1.84,2.05,1.80,2.01,1.77,2.12,1.88
108,E0,09/11/2025,14:00,Nott'm Forest,Leeds,3,1,H,1,1,...,1.88,1.98,1.91,2.02,1.92,1.98,1.87,1.90,1.97,2.01
109,E0,09/11/2025,16:30,Man City,Liverpool,3,0,H,2,0,...,1.83,2.03,1.94,1.98,1.93,2.03,1.86,1.91,1.94,2.05

## 2.2 Multiple Seasons

In [127]:
for season in range(20,26):
    print(season)

20
21
22
23
24
25

In [129]:
for season in range (20,26):
    print(str(season) + str(season+1))

2021
2122
2223
2324
2425
2526

In [15]:


#creating list of leagues
leagues = ['E0','E1','E2']
combine = []

# loop through range of seasons and insert new column
for league in leagues:
    for season in range(20,26):
        df = pd.read_csv( root + str(season) + str(season+1) + '/' + league + '.csv')
        df.insert(1,"Season",season)

        combine.append(df)

In [16]:
# total frames (6 seasons X 3 leagues)

len(combine)

18

In [17]:
# show 1st, and last element(new season column was created)
combine[2]

,Div,Season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,22,05/08/2022,20:00,Crystal Palace,Arsenal,0,2,A,0,...,1.76,0.50,2.09,1.84,2.04,1.88,2.09,1.88,2.03,1.85
1,E0,22,06/08/2022,12:30,Fulham,Liverpool,2,2,D,1,...,2.73,1.75,1.90,2.03,1.91,2.02,2.01,2.06,1.89,1.99
2,E0,22,06/08/2022,15:00,Bournemouth,Aston Villa,2,0,H,1,...,1.76,0.50,1.93,2.00,1.93,2.00,1.94,2.04,1.88,2.00
3,E0,22,06/08/2022,15:00,Leeds,Wolves,2,1,H,1,...,1.87,-0.25,2.08,1.85,2.10,1.84,2.14,1.87,2.08,1.81
4,E0,22,06/08/2022,15:00,Newcastle,Nott'm Forest,2,0,H,0,...,1.89,-1.00,1.97,1.96,1.99,1.93,2.19,1.97,2.03,1.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,22,28/05/2023,16:30,Everton,Bournemouth,1,0,H,0,...,2.14,-1.00,2.02,1.77,2.10,1.81,2.17,1.92,2.03,1.83
376,E0,22,28/05/2023,16:30,Leeds,Tottenham,1,4,A,0,...,2.50,0.25,1.84,2.06,1.83,2.10,1.90,2.14,1.81,2.06
377,E0,22,28/05/2023,16:30,Leicester,West Ham,2,1,H,1,...,2.51,-0.25,1.75,2.05,1.85,2.06,1.90,2.16,1.82,2.04
378,E0,22,28/05/2023,16:30,Man United,Fulham,2,1,H,1,...,2.95,-1.25,1.98,1.92,1.98,1.93,2.07,1.98,1.97,1.89
379,E0,22,28/05/2023,16:30,Southampton,Liverpool,4,4,D,2,...,3.22,1.25,1.82,2.08,1.85,2.07,1.96,2.12,1.88,1.98

## 3. Organize All The Data In a Dictionary

In [19]:
 # Create a dictionary with original name of league as key
dict_countries ={ 'Spanish La Liga' :'SP1' , 'Spanish Segunda Division': 'SP2',
                  'German Bundesliga' : 'D1',
                   'English Premier League' : 'E0','English League 1' :'E2','English League' :'E3'}

In [20]:
# get  a dictionary element
dict_countries['Spanish La Liga']

'SP1'

In [146]:
# looping through the dictionary
for dic in dict_countries:
    print(dic)

Spanish La Liga
Spanish Segunda Division
German Bundesliga
English Premier League
English League 1

In [147]:
for dic in dict_countries:
    print(dict_countries[dic])

SP1
SP2
D1
E0
E2

In [30]:
dict_historical_data = {}


#looping through key element
for league in dict_countries:
    frames = []
    for season in range(20,26):
        
        df= pd.read_csv( root + str(season) + str(season+1) + '/' + dict_countries[league] + '.csv')
        df.insert(1,'Seasons', season)
        frames.append(df)
    df_concat =pd.concat(frames)  
    dict_historical_data[league] = df_concat

In [31]:
#show dataframe inside dict_historical_data
dict_historical_data['German Bundesliga']

,Div,Seasons,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,BMGMCA,BVCH,BVCD,BVCA,CLCH,CLCD,CLCA,LBCH,LBCD,LBCA
0,D1,20,18/09/2020,19:30,Bayern Munich,Schalke 04,8,0,H,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,D1,20,19/09/2020,14:30,Ein Frankfurt,Bielefeld,1,1,D,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,D1,20,19/09/2020,14:30,FC Koln,Hoffenheim,2,3,A,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,D1,20,19/09/2020,14:30,Stuttgart,Freiburg,2,3,A,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,D1,20,19/09/2020,14:30,Union Berlin,Augsburg,1,3,A,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,D1,25,08/11/2025,14:30,Union Berlin,Bayern Munich,2,2,D,1.0,...,1.22,12.00,7.0,1.2,11.00,7.0,1.22,11.00,7.0,1.22
86,D1,25,08/11/2025,17:30,M'gladbach,FC Koln,3,1,H,1.0,...,3.50,2.05,3.8,3.2,2.10,3.6,3.25,2.10,3.6,3.25
87,D1,25,09/11/2025,14:30,Freiburg,St Pauli,2,1,H,1.0,...,4.60,1.75,3.6,4.6,1.80,3.6,4.60,1.80,3.5,4.50
88,D1,25,09/11/2025,16:30,Stuttgart,Augsburg,3,2,H,2.0,...,5.75,1.50,4.6,5.5,1.55,4.5,5.25,1.53,4.5,5.25
89,D1,25,09/11/2025,18:30,Ein Frankfurt,Mainz,1,0,H,0.0,...,4.00,1.83,3.9,3.8,1.83,3.9,3.90,1.83,3.9,3.90

In [32]:
dict_historical_data['English Premier League']

,Div,Seasons,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,BMGMCA,BVCH,BVCD,BVCA,CLCH,CLCD,CLCA,LBCH,LBCD,LBCA
0,E0,20,12/09/2020,12:30,Fulham,Arsenal,0,3,A,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,20,12/09/2020,15:00,Crystal Palace,Southampton,1,0,H,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,20,12/09/2020,17:30,Liverpool,Leeds,4,3,H,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,20,12/09/2020,20:00,West Ham,Newcastle,0,2,A,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,20,13/09/2020,14:00,West Brom,Leicester,0,3,A,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,E0,25,09/11/2025,14:00,Aston Villa,Bournemouth,4,0,H,2,...,3.10,2.25,3.50,3.1,2.30,3.4,3.1,2.25,3.3,3.10
106,E0,25,09/11/2025,14:00,Brentford,Newcastle,3,1,H,0,...,2.55,2.80,3.50,2.4,2.80,3.4,2.5,2.75,3.3,2.50
107,E0,25,09/11/2025,14:00,Crystal Palace,Brighton,0,0,D,0,...,3.00,2.38,3.50,2.9,2.37,3.4,3.0,2.30,3.3,3.00
108,E0,25,09/11/2025,14:00,Nott'm Forest,Leeds,3,1,H,1,...,3.45,2.15,3.25,3.5,2.20,3.1,3.5,2.20,3.1,3.50
109,E0,25,09/11/2025,16:30,Man City,Liverpool,3,0,H,2,...,3.70,1.87,4.10,3.6,1.85,3.9,3.8,1.85,3.9,3.75

In [33]:
dict_historical_data['English Premier League'].tail(10)

,Div,Seasons,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,BMGMCA,BVCH,BVCD,BVCA,CLCH,CLCD,CLCA,LBCH,LBCD,LBCA
100,E0,25,08/11/2025,12:30,Tottenham,Man United,2,2,D,0,...,2.38,2.90,3.50,2.38,2.87,3.5,2.37,2.87,3.4,2.37
101,E0,25,08/11/2025,15:00,Everton,Fulham,2,0,H,1,...,3.35,2.30,3.30,3.13,2.30,3.2,3.25,2.25,3.2,3.25
102,E0,25,08/11/2025,15:00,West Ham,Burnley,3,2,H,1,...,4.35,1.87,3.60,4.10,1.85,3.5,4.20,1.85,3.5,4.20
103,E0,25,08/11/2025,17:30,Sunderland,Arsenal,2,2,D,1,...,1.46,7.00,4.33,1.45,6.50,4.2,1.50,6.50,4.2,1.50
104,E0,25,08/11/2025,20:00,Chelsea,Wolves,3,0,H,0,...,8.00,1.33,5.25,8.50,1.40,5.0,7.50,1.36,5.0,7.50
105,E0,25,09/11/2025,14:00,Aston Villa,Bournemouth,4,0,H,2,...,3.10,2.25,3.50,3.10,2.30,3.4,3.10,2.25,3.3,3.10
106,E0,25,09/11/2025,14:00,Brentford,Newcastle,3,1,H,0,...,2.55,2.80,3.50,2.40,2.80,3.4,2.50,2.75,3.3,2.50
107,E0,25,09/11/2025,14:00,Crystal Palace,Brighton,0,0,D,0,...,3.00,2.38,3.50,2.90,2.37,3.4,3.00,2.30,3.3,3.00
108,E0,25,09/11/2025,14:00,Nott'm Forest,Leeds,3,1,H,1,...,3.45,2.15,3.25,3.50,2.20,3.1,3.50,2.20,3.1,3.50
109,E0,25,09/11/2025,16:30,Man City,Liverpool,3,0,H,2,...,3.70,1.87,4.10,3.60,1.85,3.9,3.80,1.85,3.9,3.75

#  1.Filtering Data With Pandas

In [2]:
df_laptops = pd.read_csv("laptop_price.csv", encoding="latin1")

In [3]:
df_laptops

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1298,1316,Lenovo,Yoga 500-14ISK,2 in 1 Convertible,14.0,IPS Panel Full HD / Touchscreen 1920x1080,Intel Core i7 6500U 2.5GHz,4GB,128GB SSD,Intel HD Graphics 520,Windows 10,1.8kg,638.00
1299,1317,Lenovo,Yoga 900-13ISK,2 in 1 Convertible,13.3,IPS Panel Quad HD+ / Touchscreen 3200x1800,Intel Core i7 6500U 2.5GHz,16GB,512GB SSD,Intel HD Graphics 520,Windows 10,1.3kg,1499.00
1300,1318,Lenovo,IdeaPad 100S-14IBR,Notebook,14.0,1366x768,Intel Celeron Dual Core N3050 1.6GHz,2GB,64GB Flash Storage,Intel HD Graphics,Windows 10,1.5kg,229.00
1301,1319,HP,15-AC110nv (i7-6500U/6GB/1TB/Radeon,Notebook,15.6,1366x768,Intel Core i7 6500U 2.5GHz,6GB,1TB HDD,AMD Radeon R5 M330,Windows 10,2.19kg,764.00
1302,1320,Asus,X553SA-XX031T (N3050/4GB/500GB/W10),Notebook,15.6,1366x768,Intel Celeron Dual Core N3050 1.6GHz,4GB,500GB HDD,Intel HD Graphics,Windows 10,2.2kg,369.00

In [40]:
# find which rows have 'Apple' in the 'company'  column
df_laptops['Company']== 'Apple'

0        True
1        True
2       False
3        True
4        True
        ...
1298    False
1299    False
1300    False
1301    False
1302    False
Name: Company, Length: 1303, dtype: bool

In [41]:
# filter dataframe based on condition
df_laptops[df_laptops['Company']== 'Apple']

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60
6,7,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.2GHz,16GB,256GB Flash Storage,Intel Iris Pro Graphics,Mac OS X,2.04kg,2139.97
7,8,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,256GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,1158.70
12,13,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.8GHz,16GB,256GB SSD,AMD Radeon Pro 555,macOS,1.83kg,2439.97
14,15,Apple,"MacBook 12""",Ultrabook,12.0,IPS Panel Retina Display 2304x1440,Intel Core M m3 1.2GHz,8GB,256GB SSD,Intel HD Graphics 615,macOS,0.92kg,1262.40
15,16,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,256GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1518.55
17,18,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.9GHz,16GB,512GB SSD,AMD Radeon Pro 560,macOS,1.83kg,2858.00
26,27,Apple,MacBook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.6GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,Mac OS X,1.35kg,1099.00
34,35,Apple,MacBook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.6GHz,8GB,256GB Flash Storage,Intel HD Graphics 6000,Mac OS X,1.35kg,998.00
45,46,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.0GHz,8GB,256GB SSD,Intel Iris Graphics 540,macOS,1.37kg,1419.00
81,83,Apple,"MacBook 12""",Ultrabook,12.0,IPS Panel Retina Display 2304x1440,Intel Core i5 1.3GHz,8GB,512GB SSD,Intel HD Graphics 615,macOS,0.92kg,1510.00
249,254,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,512GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,2040.00
270,275,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.9GHz,8GB,512GB SSD,Intel Iris Graphics 550,macOS,1.37kg,1958.90
794,803,Apple,"MacBook 12""",Ultrabook,12.0,IPS Panel Retina Display 2304x1440,Intel Core M 1.2GHz,8GB,512GB Flash Storage,Intel HD Graphics 5300,Mac OS X,0.920kg,1165.00
1069,1084,Apple,"MacBook 12""",Ultrabook,12.0,IPS Panel Retina Display 2304x1440,Intel Core M 1.1GHz,8GB,256GB Flash Storage,Intel HD Graphics 515,Mac OS X,0.920kg,1300.00
1193,1211,Apple,"MacBook 12""",Ultrabook,12.0,IPS Panel Retina Display 2304x1440,Intel Core M 1.1GHz,8GB,256GB Flash Storage,Intel HD Graphics 5300,Mac OS X,0.920kg,1163.00
1210,1228,Apple,"MacBook 12""",Ultrabook,12.0,IPS Panel Retina Display 2304x1440,Intel Core M 1.2GHz,8GB,512GB Flash Storage,Intel HD Graphics 515,Mac OS X,0.920kg,1279.00
1234,1252,Apple,MacBook Air,Ultrabook,11.6,1366x768,Intel Core i5 1.6GHz,4GB,256GB Flash Storage,Intel HD Graphics 6000,Mac OS X,1.08kg,959.00

In [42]:
#verify which companies are in the "company" column with value_counts()
df_laptops[df_laptops['Company']== 'Apple'].value_counts('Company')

Company
Apple    21
Name: count, dtype: int64

## 1.1Excerise 1

In [43]:
# find which rows don`t have 'HP' in the 'Company" column
df_laptops['Company'] != 'HP'

0        True
1        True
2       False
3        True
4        True
        ...
1298     True
1299     True
1300     True
1301    False
1302     True
Name: Company, Length: 1303, dtype: bool

In [55]:
# filter dataframe based on condition
df_laptops[df_laptops['Company'] !='HP']

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60
5,6,Acer,Aspire 3,Notebook,15.6,1366x768,AMD A9-Series 9420 3GHz,4GB,500GB HDD,AMD Radeon R5,Windows 10,2.1kg,400.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1297,1315,Asus,X556UJ-XO044T (i7-6500U/4GB/500GB/GeForce,Notebook,15.6,1366x768,Intel Core i7 6500U 2.5GHz,4GB,500GB HDD,Nvidia GeForce 920M,Windows 10,2.2kg,720.32
1298,1316,Lenovo,Yoga 500-14ISK,2 in 1 Convertible,14.0,IPS Panel Full HD / Touchscreen 1920x1080,Intel Core i7 6500U 2.5GHz,4GB,128GB SSD,Intel HD Graphics 520,Windows 10,1.8kg,638.00
1299,1317,Lenovo,Yoga 900-13ISK,2 in 1 Convertible,13.3,IPS Panel Quad HD+ / Touchscreen 3200x1800,Intel Core i7 6500U 2.5GHz,16GB,512GB SSD,Intel HD Graphics 520,Windows 10,1.3kg,1499.00
1300,1318,Lenovo,IdeaPad 100S-14IBR,Notebook,14.0,1366x768,Intel Celeron Dual Core N3050 1.6GHz,2GB,64GB Flash Storage,Intel HD Graphics,Windows 10,1.5kg,229.00
1302,1320,Asus,X553SA-XX031T (N3050/4GB/500GB/W10),Notebook,15.6,1366x768,Intel Celeron Dual Core N3050 1.6GHz,4GB,500GB HDD,Intel HD Graphics,Windows 10,2.2kg,369.00

  ## 1.2  Exerise 2

In [56]:
# find laptops with price over 200 euros
df_laptops ['Price_euros'] > 200

0       True
1       True
2       True
3       True
4       True
        ...
1298    True
1299    True
1300    True
1301    True
1302    True
Name: Price_euros, Length: 1303, dtype: bool

In [58]:
df_laptops[df_laptops['Price_euros']>200]

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1298,1316,Lenovo,Yoga 500-14ISK,2 in 1 Convertible,14.0,IPS Panel Full HD / Touchscreen 1920x1080,Intel Core i7 6500U 2.5GHz,4GB,128GB SSD,Intel HD Graphics 520,Windows 10,1.8kg,638.00
1299,1317,Lenovo,Yoga 900-13ISK,2 in 1 Convertible,13.3,IPS Panel Quad HD+ / Touchscreen 3200x1800,Intel Core i7 6500U 2.5GHz,16GB,512GB SSD,Intel HD Graphics 520,Windows 10,1.3kg,1499.00
1300,1318,Lenovo,IdeaPad 100S-14IBR,Notebook,14.0,1366x768,Intel Celeron Dual Core N3050 1.6GHz,2GB,64GB Flash Storage,Intel HD Graphics,Windows 10,1.5kg,229.00
1301,1319,HP,15-AC110nv (i7-6500U/6GB/1TB/Radeon,Notebook,15.6,1366x768,Intel Core i7 6500U 2.5GHz,6GB,1TB HDD,AMD Radeon R5 M330,Windows 10,2.19kg,764.00
1302,1320,Asus,X553SA-XX031T (N3050/4GB/500GB/W10),Notebook,15.6,1366x768,Intel Celeron Dual Core N3050 1.6GHz,4GB,500GB HDD,Intel HD Graphics,Windows 10,2.2kg,369.00

# 1 . Create a column based on 1 conditions : np.where()

In [60]:
# create ana array based on price tiers
cheap = np.where(df_laptops['Price_euros'] >2000,'Expensive',"Cheap")

In [62]:
# set it to a new column
df_laptops['Price_tier'] = cheap

In [63]:
# show first 5 rows
df_laptops.head(5)

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,Price_tier
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Cheap
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94,Cheap
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00,Cheap
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45,Expensive
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60,Cheap

In [65]:
# count values in price_tier column
df_laptops['Price_tier'].value_counts()

Price_tier
Cheap        1166
Expensive     137
Name: count, dtype: int64

# 1.1  Exercise

In [90]:
# create an array based on screen size
df_laptops['Inches'] >15
screen = np.where(df_laptops['Inches']>15 , 'Big','Small')

In [ ]:
# set it to a new column
df_laptops.insert(5,'Screen_Size',screen)

In [94]:
# set it to a new column
df_laptops

,laptop_ID,Company,Product,TypeName,Inches,Screen_Size,IN_Size,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,Price_tier,Size
0,1,Apple,MacBook Pro,Ultrabook,13.3,Small,Small,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Cheap,Small
1,2,Apple,Macbook Air,Ultrabook,13.3,Small,Small,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94,Cheap,Small
2,3,HP,250 G6,Notebook,15.6,Big,Big,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00,Cheap,Big
3,4,Apple,MacBook Pro,Ultrabook,15.4,Big,Big,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45,Expensive,Big
4,5,Apple,MacBook Pro,Ultrabook,13.3,Small,Small,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60,Cheap,Small
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1298,1316,Lenovo,Yoga 500-14ISK,2 in 1 Convertible,14.0,Small,Small,IPS Panel Full HD / Touchscreen 1920x1080,Intel Core i7 6500U 2.5GHz,4GB,128GB SSD,Intel HD Graphics 520,Windows 10,1.8kg,638.00,Cheap,Small
1299,1317,Lenovo,Yoga 900-13ISK,2 in 1 Convertible,13.3,Small,Small,IPS Panel Quad HD+ / Touchscreen 3200x1800,Intel Core i7 6500U 2.5GHz,16GB,512GB SSD,Intel HD Graphics 520,Windows 10,1.3kg,1499.00,Cheap,Small
1300,1318,Lenovo,IdeaPad 100S-14IBR,Notebook,14.0,Small,Small,1366x768,Intel Celeron Dual Core N3050 1.6GHz,2GB,64GB Flash Storage,Intel HD Graphics,Windows 10,1.5kg,229.00,Cheap,Small
1301,1319,HP,15-AC110nv (i7-6500U/6GB/1TB/Radeon,Notebook,15.6,Big,Big,1366x768,Intel Core i7 6500U 2.5GHz,6GB,1TB HDD,AMD Radeon R5 M330,Windows 10,2.19kg,764.00,Cheap,Big
1302,1320,Asus,X553SA-XX031T (N3050/4GB/500GB/W10),Notebook,15.6,Big,Big,1366x768,Intel Celeron Dual Core N3050 1.6GHz,4GB,500GB HDD,Intel HD Graphics,Windows 10,2.2kg,369.00,Cheap,Big

In [95]:
# show first 5 rows
df_laptops.head(5)

,laptop_ID,Company,Product,TypeName,Inches,Screen_Size,IN_Size,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,Price_tier,Size
0,1,Apple,MacBook Pro,Ultrabook,13.3,Small,Small,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Cheap,Small
1,2,Apple,Macbook Air,Ultrabook,13.3,Small,Small,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94,Cheap,Small
2,3,HP,250 G6,Notebook,15.6,Big,Big,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00,Cheap,Big
3,4,Apple,MacBook Pro,Ultrabook,15.4,Big,Big,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45,Expensive,Big
4,5,Apple,MacBook Pro,Ultrabook,13.3,Small,Small,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60,Cheap,Small

In [93]:
# count values in screen_size column

df_laptops['Screen_Size'].value_counts()

Screen_Size
Big      835
Small    468
Name: count, dtype: int64

# 1 Filter dataframe based on a condition

In [96]:
# find Apple laptops
df_laptops['Company'] == 'Apple'

0        True
1        True
2       False
3        True
4        True
        ...
1298    False
1299    False
1300    False
1301    False
1302    False
Name: Company, Length: 1303, dtype: bool

In [97]:
# find laptops that cost more than 2000 euros
df_laptops['Price_euros']  >2000

0       False
1       False
2       False
3        True
4       False
        ...
1298    False
1299    False
1300    False
1301    False
1302    False
Name: Price_euros, Length: 1303, dtype: bool

# 2. Filter dataframe based on multiple conditions

In [98]:
# find Apple laptops that cost more than 2000 euros
(df_laptops['Company'] == 'Apple') & (df_laptops['Price_euros']  >2000)

0       False
1       False
2       False
3        True
4       False
        ...
1298    False
1299    False
1300    False
1301    False
1302    False
Length: 1303, dtype: bool

# 2.1 & (and)

In [99]:
# filter dataframe based on multiple conditions
df_laptops[(df_laptops['Company'] == 'Apple') & (df_laptops['Price_euros']  >2000)]

,laptop_ID,Company,Product,TypeName,Inches,Screen_Size,IN_Size,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,Price_tier,Size
3,4,Apple,MacBook Pro,Ultrabook,15.4,Big,Big,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45,Expensive,Big
6,7,Apple,MacBook Pro,Ultrabook,15.4,Big,Big,IPS Panel Retina Display 2880x1800,Intel Core i7 2.2GHz,16GB,256GB Flash Storage,Intel Iris Pro Graphics,Mac OS X,2.04kg,2139.97,Expensive,Big
12,13,Apple,MacBook Pro,Ultrabook,15.4,Big,Big,IPS Panel Retina Display 2880x1800,Intel Core i7 2.8GHz,16GB,256GB SSD,AMD Radeon Pro 555,macOS,1.83kg,2439.97,Expensive,Big
17,18,Apple,MacBook Pro,Ultrabook,15.4,Big,Big,IPS Panel Retina Display 2880x1800,Intel Core i7 2.9GHz,16GB,512GB SSD,AMD Radeon Pro 560,macOS,1.83kg,2858.00,Expensive,Big
249,254,Apple,MacBook Pro,Ultrabook,13.3,Small,Small,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,512GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,2040.00,Expensive,Small

# 2.2 | (or)

In [4]:
# find laptops Apple or Dell laptops
df_laptops['Company'] == 'Apple'
df_laptops['Company'] == 'Dell'

(df_laptops['Company'] == 'Apple') | (df_laptops['Company'] == 'Dell')

0        True
1        True
2       False
3        True
4        True
        ...
1298    False
1299    False
1300    False
1301    False
1302    False
Name: Company, Length: 1303, dtype: bool

In [5]:
#filter dataframe based on multiple conditions
df_laptops[(df_laptops['Company'] == 'Apple') | (df_laptops['Company'] == 'Dell')]

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60
6,7,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.2GHz,16GB,256GB Flash Storage,Intel Iris Pro Graphics,Mac OS X,2.04kg,2139.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1278,1296,Dell,Inspiron 3552,Notebook,15.6,1366x768,Intel Celeron Dual Core N3050 1.6GHz,2GB,500GB HDD,Intel HD Graphics,Windows 10,2.20kg,379.00
1281,1299,Dell,Inspiron 3567,Notebook,15.6,1366x768,Intel Core i7 7500U 2.7GHz,8GB,1TB HDD,AMD Radeon R5 M430,Linux,2.3kg,805.99
1290,1308,Dell,Inspiron 3567,Notebook,15.6,1366x768,Intel Core i3 7100U 2.4GHz,6GB,1TB HDD,Intel HD Graphics 620,Windows 10,2.3kg,459.00
1292,1310,Dell,Inspiron 3552,Notebook,15.6,1366x768,Intel Celeron Dual Core N3050 1.6GHz,2GB,500GB HDD,Intel HD Graphics,Windows 10,2.20kg,379.00
1295,1313,Dell,Inspiron 3567,Notebook,15.6,1366x768,Intel Core i7 7500U 2.7GHz,8GB,1TB HDD,AMD Radeon R5 M430,Linux,2.3kg,805.99

In [6]:
# find laptops from Apple or dell that cost over 2000 euros
df_laptops['Company'] =='Apple'
df_laptops['Company'] =='Dell'
df_laptops['Price_euros'] > 2000


((df_laptops['Company'] =='Apple') | (df_laptops['Company'] =='Dell')) & (df_laptops['Price_euros'] > 2000)

0       False
1       False
2       False
3        True
4       False
        ...
1298    False
1299    False
1300    False
1301    False
1302    False
Length: 1303, dtype: bool

In [7]:
# filter dataframe based on multiple conditions

df_laptops[((df_laptops['Company'] =='Apple') | (df_laptops['Company'] =='Dell')) & (df_laptops['Price_euros'] > 2000)]

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
6,7,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.2GHz,16GB,256GB Flash Storage,Intel Iris Pro Graphics,Mac OS X,2.04kg,2139.97
12,13,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.8GHz,16GB,256GB SSD,AMD Radeon Pro 555,macOS,1.83kg,2439.97
17,18,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.9GHz,16GB,512GB SSD,AMD Radeon Pro 560,macOS,1.83kg,2858.00
186,190,Dell,XPS 15,Notebook,15.6,4K Ultra HD / Touchscreen 3840x2160,Intel Core i7 7700HQ 2.8GHz,16GB,512GB SSD,Nvidia GeForce GTX 1050,Windows 10,2.06kg,2397.00
204,208,Dell,Precision 7520,Workstation,15.6,4K Ultra HD 3840x2160,Intel Xeon E3-1505M V6 3GHz,16GB,256GB SSD + 1TB HDD,Nvidia Quadro M1200,Windows 10,2.8kg,3055.00
224,229,Dell,Alienware 17,Gaming,17.3,IPS Panel Full HD 1920x1080,Intel Core i7 7700HQ 2.8GHz,16GB,256GB SSD + 1TB HDD,Nvidia GeForce GTX 1060,Windows 10,4.42kg,2456.34
249,254,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,512GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,2040.00
297,302,Dell,Precision 7720,Workstation,17.3,Full HD 1920x1080,Intel Core i7 7820HQ 2.9GHz,16GB,256GB SSD,Nvidia Quadro M1200,Windows 10,3.42kg,2884.86
311,316,Dell,XPS 13,Ultrabook,13.3,IPS Panel 4K Ultra HD / Touchscreen 3840x2160,Intel Core i7 8550U 1.8GHz,16GB,1TB SSD,Intel UHD Graphics 620,Windows 10,1.21kg,2499.00
329,335,Dell,XPS 15,Notebook,15.6,4K Ultra HD / Touchscreen 3840x2160,Intel Core i7 7700HQ 2.8GHz,32GB,1TB SSD,Nvidia GeForce GTX 1050,Windows 10,2.06kg,2639.00
350,356,Dell,XPS 15,Notebook,15.6,4K Ultra HD / Touchscreen 3840x2160,Intel Core i7 7700HQ 2.8GHz,16GB,512GB SSD,Nvidia GeForce GTX 1050,Windows 10,2.06kg,2027.42
388,394,Dell,Precision 5520,Workstation,15.6,IPS Panel Full HD 1920x1080,Intel Core i7 6820HQ 2.7GHz,8GB,256GB SSD,Nvidia Quadro M1200,Windows 10,2kg,2135.00
398,405,Dell,Precision M5520,Workstation,15.6,4K Ultra HD / Touchscreen 3840x2160,Intel Core i7 7700HQ 2.8GHz,8GB,256GB SSD,Nvidia Quadro M1200,Windows 10,1.78kg,2712.00
424,431,Dell,Alienware 17,Gaming,17.3,IPS Panel 2560x1440,Intel Core i7 7820HK 2.9GHz,16GB,256GB SSD + 1TB HDD,Nvidia GeForce GTX 1070,Windows 10,4.42kg,2799.00
456,463,Dell,Alienware 17,Notebook,17.3,IPS Panel Full HD 1920x1080,Intel Core i7 7700HQ 2.7GHz,8GB,1TB HDD,Nvidia GeForce GTX 1060,Windows 10,4.42kg,2046.00
476,483,Dell,Precision M5520,Workstation,15.6,Full HD 1920x1080,Intel Core i7 7700HQ 2.8GHz,8GB,256GB SSD,Nvidia Quadro M1200,Windows 10,1.78kg,2408.00
486,493,Dell,Precision 3520,Workstation,15.6,IPS Panel Full HD 1920x1080,Intel Core i7 6820HQ 2.7GHz,16GB,512GB SSD,Nvidia Quadro M620,Windows 10,2.17kg,2338.00
530,537,Dell,Alienware 17,Gaming,17.3,IPS Panel Full HD 1920x1080,Intel Core i7 7700HQ 2.8GHz,16GB,128GB SSD + 1TB HDD,Nvidia GeForce GTX 1070,Windows 10,4.42kg,3012.77
552,559,Dell,Alienware 17,Gaming,17.3,IPS Panel Full HD 1920x1080,Intel Core i7 7700HQ 2.8GHz,16GB,256GB SSD + 1TB HDD,Nvidia GeForce GTX 1070,Windows 10,4.42kg,2699.00
639,647,Dell,XPS 15,Notebook,15.6,4K Ultra HD / Touchscreen 3840x2160,Intel Core i7 7700HQ 2.8GHz,16GB,1TB SSD,Nvidia GeForce GTX 1050,Windows 10,2.06kg,2399.00
659,667,Dell,Alienware 17,Gaming,17.3,IPS Panel 4K Ultra HD 3840x2160,Intel Core i7 7700HQ 2.8GHz,32GB,512GB SSD + 1TB HDD,Nvidia GeForce GTX 1070,Windows 10,4.42kg,3147.37
682,690,Dell,Alienware 15,Gaming,15.6,Full HD 1920x1080,Intel Core i5 7300HQ 2.5GHz,16GB,128GB SSD + 1TB HDD,Nvidia GeForce GTX 1060,Windows 10,3.21kg,2051.00
685,693,Dell,Alienware 15,Gaming,15.6,Full HD 1920x1080,Intel Core i7 7820HK 2.9GHz,16GB,256GB SSD + 1TB HDD,Nvidia GeForce GTX 1070,Windows 10,3.49kg,2813.75
723,731,Dell,Alienware 17,Gaming,17.3,4K Ultra HD 3840x2160,Intel Core i7 7700HQ 2.8GHz,32GB,1TB SSD + 1TB HDD,Nvidia GeForce GTX 1070,Windows 10,4.36kg,3659.40
758,767,Dell,Alienware 17,Gaming,15.6,IPS Panel 4K Ultra HD 3840x2160,Intel Core i7 7700HQ 2.8GHz,16GB,256GB SSD + 1TB HDD,Nvidia GeForce GTX 1070,Windows 10,4.42kg,2868.99
780,789,Dell,Alienware 17,Gaming,17.3,IPS Panel Full HD 1920x1080,Intel Core i7 7700HQ 2.8GHz,32GB,1TB SSD + 1TB HDD,Nvidia GeForce GTX 1070M,Windows 10,4.42kg,3588.80
818,827,Dell,Alienware 17,Gaming,17.3,IPS Panel Full HD 1920x1080,Intel Core i7 7700HQ 2.8GHz,16GB,128GB SSD + 1TB HDD,Nvidia GeForce GTX 1060,Windows 10,4.36kg,2505.02
835,844,Dell,Alienware 15,Gaming,15.6,Full HD 1920x1080,Intel Core i7 7700HQ 2.8GHz,16GB,256GB SSD + 1TB HDD,Nvidia GeForce GTX 1070,Windows 10,3.21kg,2774.63
841,851,Dell,Alienware 17,Gaming,17.3,IPS Panel Full HD 1920x1080,Intel Core i7 7700HQ 2.8GHz,32GB,512GB SSD + 1TB HDD,Nvidia GeForce GTX 1070,Windows 10,4.42kg,3072.89
864,875,Dell,XPS 13,Ultrabook,13.3,Quad HD+ / Touchscreen 3200x1800,Intel Core i7 7660U 2.5GHz,16GB,512GB SSD,Intel Iris Plus Graphics 640,Windows 10,1.29kg,2240.00
900,912,Dell,XPS 13,2 in 1 Convertible,13.3,Quad HD+ / Touchscreen 3200x1800,Intel Core i7 7Y75 1.3GHz,8GB,512GB SSD,Intel HD Graphics 615,Windows 10,1.24kg,2013.10
939,953,Dell,Alienware 17,Gaming,17.3,2560x1440,Intel Core i7 6820HK 2.7GHz,16GB,512GB SSD + 1TB HDD,Nvidia GeForce GTX 1080,Windows 10,4.36kg,2758.00
955,969,Dell,Alienware 17,Gaming,17.3,IPS Panel 4K Ultra HD 3840x2160,Intel Core i7 7700HQ 2.8GHz,16GB,512GB SSD + 1TB HDD,Nvidia GeForce GTX 1070,Windows 10,4.36kg,3154.00
968,982,Dell,Alienware 17,Gaming,17.3,IPS Panel Full HD 1920x1080,Intel Core i7 7700HQ 2.8GHz,32GB,256GB SSD + 1TB HDD,Nvidia GeForce GTX 1070,Windows 10,4.42kg,3149.00
972,986,Dell,Alienware 17,Gaming,17.3,Full HD 1920x1080,Intel Core i7 6700HQ 2.6GHz,32GB,256GB SSD + 1TB HDD,Nvidia GeForce GTX 1070,Windows 10,4.42kg,2800.00
1054,1068,Dell,XPS 13,Ultrabook,13.3,Quad HD+ / Touchscreen 3200x1800,Intel Core i7 7500U 2.7GHz,16GB,1TB SSD,Intel HD Graphics 620,Windows 10,1.2kg,2254.00
1154,1172,Dell,XPS 15,Notebook,15.6,IPS Panel Touchscreen / 4K Ultra HD 3840x2160,Intel Core i5 6300HQ 2.3GHz,8GB,256GB SSD,Nvidia GeForce 960M,Windows 10,2.04kg,2250.68
1203,1221,Dell,XPS 13,Ultrabook,13.3,Quad HD+ / Touchscreen 3200x1800,Intel Core i7 7500U 2.7GHz,16GB,512GB SSD,Intel HD Graphics 620,Windows 10,1.2kg,2680.00

 # 1. Creating a conditional column from More than 2 choices : np.select()

In [115]:
df_laptops.head(3)

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00

In [116]:
# create an array based on multiple price tiers ( +2choices)

#create "conditions' and "values" variables

conditions = [
df_laptops['Price_euros']>3000,
(df_laptops['Price_euros']>2000) & (df_laptops['Price_euros']<=3000),
(df_laptops['Price_euros']>800) & (df_laptops['Price_euros']<=2000),
df_laptops['Price_euros']<=800 
]
values = ['Too Expensive','Expensive','Affordable','Cheap']

In [125]:
# set it to a new column
df_laptops['Price_Tiers'] = np.select(conditions,values, default = 'Unknown')

In [123]:
# show dataframe
df_laptops

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,Price_Tiers
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Affordable
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94,Affordable
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00,Cheap
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45,Expensive
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60,Affordable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1298,1316,Lenovo,Yoga 500-14ISK,2 in 1 Convertible,14.0,IPS Panel Full HD / Touchscreen 1920x1080,Intel Core i7 6500U 2.5GHz,4GB,128GB SSD,Intel HD Graphics 520,Windows 10,1.8kg,638.00,Cheap
1299,1317,Lenovo,Yoga 900-13ISK,2 in 1 Convertible,13.3,IPS Panel Quad HD+ / Touchscreen 3200x1800,Intel Core i7 6500U 2.5GHz,16GB,512GB SSD,Intel HD Graphics 520,Windows 10,1.3kg,1499.00,Affordable
1300,1318,Lenovo,IdeaPad 100S-14IBR,Notebook,14.0,1366x768,Intel Celeron Dual Core N3050 1.6GHz,2GB,64GB Flash Storage,Intel HD Graphics,Windows 10,1.5kg,229.00,Cheap
1301,1319,HP,15-AC110nv (i7-6500U/6GB/1TB/Radeon,Notebook,15.6,1366x768,Intel Core i7 6500U 2.5GHz,6GB,1TB HDD,AMD Radeon R5 M330,Windows 10,2.19kg,764.00,Cheap
1302,1320,Asus,X553SA-XX031T (N3050/4GB/500GB/W10),Notebook,15.6,1366x768,Intel Celeron Dual Core N3050 1.6GHz,4GB,500GB HDD,Intel HD Graphics,Windows 10,2.2kg,369.00,Cheap

In [129]:
df_laptops['Price_Tiers'].value_counts()

Price_Tiers
Affordable       655
Cheap            511
Expensive        118
Too Expensive     19
Name: count, dtype: int64

  # 2 Exercise

In [130]:
# create an array based on multiple screen size tiers (+2 choices)
# Too big >16 ,big >14, small > 12, too small <12
# create "conditions" and "values"  variables

condtions = [
    df_laptops['Inches'] > 16,
    ( df_laptops['Inches'] > 14) & ( df_laptops['Inches']<=16),
     (df_laptops['Inches'] > 12) & ( df_laptops['Inches'] <=14),
     df_laptops['Inches'] <12 
]

values = ['Too Big','Big','Small','Too Small']

In [133]:
# set it to an new column
df_laptops['Screen_size']= np.select(conditions,values, default= 'Unknown')

In [ ]:

df_laptops.insert(5,'Sreen_Size',df_laptops['Screen_size'])

In [137]:
# show dataframe
df_laptops

,laptop_ID,Company,Product,TypeName,Inches,Sreen_Size,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,Price_Tiers,Screen_size
0,1,Apple,MacBook Pro,Ultrabook,13.3,Small,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Affordable,Small
1,2,Apple,Macbook Air,Ultrabook,13.3,Small,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94,Affordable,Small
2,3,HP,250 G6,Notebook,15.6,Too Small,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00,Cheap,Too Small
3,4,Apple,MacBook Pro,Ultrabook,15.4,Big,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45,Expensive,Big
4,5,Apple,MacBook Pro,Ultrabook,13.3,Small,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60,Affordable,Small
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1298,1316,Lenovo,Yoga 500-14ISK,2 in 1 Convertible,14.0,Too Small,IPS Panel Full HD / Touchscreen 1920x1080,Intel Core i7 6500U 2.5GHz,4GB,128GB SSD,Intel HD Graphics 520,Windows 10,1.8kg,638.00,Cheap,Too Small
1299,1317,Lenovo,Yoga 900-13ISK,2 in 1 Convertible,13.3,Small,IPS Panel Quad HD+ / Touchscreen 3200x1800,Intel Core i7 6500U 2.5GHz,16GB,512GB SSD,Intel HD Graphics 520,Windows 10,1.3kg,1499.00,Affordable,Small
1300,1318,Lenovo,IdeaPad 100S-14IBR,Notebook,14.0,Too Small,1366x768,Intel Celeron Dual Core N3050 1.6GHz,2GB,64GB Flash Storage,Intel HD Graphics,Windows 10,1.5kg,229.00,Cheap,Too Small
1301,1319,HP,15-AC110nv (i7-6500U/6GB/1TB/Radeon,Notebook,15.6,Too Small,1366x768,Intel Core i7 6500U 2.5GHz,6GB,1TB HDD,AMD Radeon R5 M330,Windows 10,2.19kg,764.00,Cheap,Too Small
1302,1320,Asus,X553SA-XX031T (N3050/4GB/500GB/W10),Notebook,15.6,Too Small,1366x768,Intel Celeron Dual Core N3050 1.6GHz,4GB,500GB HDD,Intel HD Graphics,Windows 10,2.2kg,369.00,Cheap,Too Small

In [138]:
# count values inside "screen_size" column

df_laptops['Screen_size'].value_counts()

Screen_size
Small        655
Too Small    511
Big          118
Too Big       19
Name: count, dtype: int64

In [8]:
df_laptops.head(3)

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00

# 1. isin(): Single Filtering

In [9]:
# select Apple or HP laptops
df_laptops['Company'].isin(['Apple','HP'])

0        True
1        True
2        True
3        True
4        True
        ...
1298    False
1299    False
1300    False
1301     True
1302    False
Name: Company, Length: 1303, dtype: bool

In [10]:
# filter dataframes
df_laptops[df_laptops['Company'].isin(['Apple','HP'])]

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1282,1300,HP,Stream 11-Y000na,Netbook,11.6,1366x768,Intel Celeron Dual Core N3060 1.6GHz,2GB,32GB Flash Storage,Intel HD Graphics 400,Windows 10,1.17kg,209.00
1287,1305,HP,15-AC110nv (i7-6500U/6GB/1TB/Radeon,Notebook,15.6,1366x768,Intel Core i7 6500U 2.5GHz,6GB,1TB HDD,AMD Radeon R5 M330,Windows 10,2.19kg,764.00
1294,1312,HP,Pavilion 15-AW003nv,Notebook,15.6,Full HD 1920x1080,AMD A9-Series 9410 2.9GHz,6GB,1.0TB Hybrid,AMD Radeon R7 M440,Windows 10,2.04kg,549.99
1296,1314,HP,Stream 11-Y000na,Netbook,11.6,1366x768,Intel Celeron Dual Core N3060 1.6GHz,2GB,32GB Flash Storage,Intel HD Graphics 400,Windows 10,1.17kg,209.00
1301,1319,HP,15-AC110nv (i7-6500U/6GB/1TB/Radeon,Notebook,15.6,1366x768,Intel Core i7 6500U 2.5GHz,6GB,1TB HDD,AMD Radeon R5 M330,Windows 10,2.19kg,764.00

# 2 isin(): Multiple Filtering

In [12]:
# find notebooks or ultaboooks from apple or HP

filter1= df_laptops['TypeName'].isin(['Notebook','Ultrabook'])
filter2 = df_laptops['Company'].isin(['Apple','HP'])

filter1 & filter2

0        True
1        True
2        True
3        True
4        True
        ...
1298    False
1299    False
1300    False
1301     True
1302    False
Length: 1303, dtype: bool

In [14]:
# filter dataframe
df_laptops[filter1 & filter2]

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1273,1291,HP,15-AC110nv (i7-6500U/6GB/1TB/Radeon,Notebook,15.6,1366x768,Intel Core i7 6500U 2.5GHz,6GB,1TB HDD,AMD Radeon R5 M330,Windows 10,2.19kg,764.00
1280,1298,HP,Pavilion 15-AW003nv,Notebook,15.6,Full HD 1920x1080,AMD A9-Series 9410 2.9GHz,6GB,1.0TB Hybrid,AMD Radeon R7 M440,Windows 10,2.04kg,549.99
1287,1305,HP,15-AC110nv (i7-6500U/6GB/1TB/Radeon,Notebook,15.6,1366x768,Intel Core i7 6500U 2.5GHz,6GB,1TB HDD,AMD Radeon R5 M330,Windows 10,2.19kg,764.00
1294,1312,HP,Pavilion 15-AW003nv,Notebook,15.6,Full HD 1920x1080,AMD A9-Series 9410 2.9GHz,6GB,1.0TB Hybrid,AMD Radeon R7 M440,Windows 10,2.04kg,549.99
1301,1319,HP,15-AC110nv (i7-6500U/6GB/1TB/Radeon,Notebook,15.6,1366x768,Intel Core i7 6500U 2.5GHz,6GB,1TB HDD,AMD Radeon R5 M330,Windows 10,2.19kg,764.00

# 1 DUPLICATED()

#### 1.1 Example 1

In [15]:
# find duplications in 1 column/ series
df_laptops.duplicated('laptop_ID')

0       False
1       False
2       False
3       False
4       False
        ...
1298    False
1299    False
1300    False
1301    False
1302    False
Length: 1303, dtype: bool

In [16]:
# show elements in dataframe  with duplicates in column 'laptops_ID'
df_laptops[df_laptops.duplicated('laptop_ID')]

Empty DataFrame
Columns: [laptop_ID, Company, Product, TypeName, Inches, ScreenResolution, Cpu, Ram, Memory, Gpu, OpSys, Weight, Price_euros]
Index: []

In [17]:
# duplicates in 2 or ,ore columns
df_laptops.duplicated(['Product','TypeName','Inches'])

0       False
1       False
2       False
3       False
4        True
        ...
1298     True
1299     True
1300     True
1301     True
1302     True
Length: 1303, dtype: bool

In [19]:
# show all the values duplicated ( except for the first--keep ='first')
duplicated=df_laptops.duplicated(['Product','TypeName','Inches'])

In [20]:
df_laptops[duplicated]

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60
6,7,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.2GHz,16GB,256GB Flash Storage,Intel Iris Pro Graphics,Mac OS X,2.04kg,2139.97
7,8,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,256GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,1158.70
10,11,HP,250 G6,Notebook,15.6,1366x768,Intel Core i5 7200U 2.5GHz,4GB,500GB HDD,Intel HD Graphics 620,No OS,1.86kg,393.90
11,12,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i3 6006U 2GHz,4GB,500GB HDD,Intel HD Graphics 520,No OS,1.86kg,344.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1298,1316,Lenovo,Yoga 500-14ISK,2 in 1 Convertible,14.0,IPS Panel Full HD / Touchscreen 1920x1080,Intel Core i7 6500U 2.5GHz,4GB,128GB SSD,Intel HD Graphics 520,Windows 10,1.8kg,638.00
1299,1317,Lenovo,Yoga 900-13ISK,2 in 1 Convertible,13.3,IPS Panel Quad HD+ / Touchscreen 3200x1800,Intel Core i7 6500U 2.5GHz,16GB,512GB SSD,Intel HD Graphics 520,Windows 10,1.3kg,1499.00
1300,1318,Lenovo,IdeaPad 100S-14IBR,Notebook,14.0,1366x768,Intel Celeron Dual Core N3050 1.6GHz,2GB,64GB Flash Storage,Intel HD Graphics,Windows 10,1.5kg,229.00
1301,1319,HP,15-AC110nv (i7-6500U/6GB/1TB/Radeon,Notebook,15.6,1366x768,Intel Core i7 6500U 2.5GHz,6GB,1TB HDD,AMD Radeon R5 M330,Windows 10,2.19kg,764.00
1302,1320,Asus,X553SA-XX031T (N3050/4GB/500GB/W10),Notebook,15.6,1366x768,Intel Celeron Dual Core N3050 1.6GHz,4GB,500GB HDD,Intel HD Graphics,Windows 10,2.2kg,369.00

In [21]:
df_laptops[duplicated].sort_values(['Product','TypeName','Inches'])

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
1287,1305,HP,15-AC110nv (i7-6500U/6GB/1TB/Radeon,Notebook,15.6,1366x768,Intel Core i7 6500U 2.5GHz,6GB,1TB HDD,AMD Radeon R5 M330,Windows 10,2.19kg,764.0
1301,1319,HP,15-AC110nv (i7-6500U/6GB/1TB/Radeon,Notebook,15.6,1366x768,Intel Core i7 6500U 2.5GHz,6GB,1TB HDD,AMD Radeon R5 M330,Windows 10,2.19kg,764.0
1098,1113,HP,250 G5,Notebook,15.6,1366x768,Intel Pentium Quad Core N3710 1.6GHz,4GB,1TB HDD,Intel HD Graphics 405,Windows 10,1.96kg,500.0
1170,1188,HP,250 G5,Notebook,15.6,Full HD 1920x1080,Intel Core i7 6500U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 520,Windows 10,1.96kg,679.0
10,11,HP,250 G6,Notebook,15.6,1366x768,Intel Core i5 7200U 2.5GHz,4GB,500GB HDD,Intel HD Graphics 620,No OS,1.86kg,393.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
414,421,Asus,ZenBook Flip,2 in 1 Convertible,13.3,IPS Panel Full HD / Touchscreen 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,Windows 10,1.27kg,928.0
826,835,Asus,ZenBook Flip,2 in 1 Convertible,13.3,Touchscreen / Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,Windows 10,1.1kg,1358.0
1275,1293,Asus,ZenBook UX305CA-UBM1,Ultrabook,13.3,IPS Panel Full HD 1920x1080,Intel Core M 6Y30 0.9GHz,8GB,512GB SSD,Intel HD Graphics 515,Windows 10,1.2kg,729.0
1289,1307,Asus,ZenBook UX305CA-UBM1,Ultrabook,13.3,IPS Panel Full HD 1920x1080,Intel Core M 6Y30 0.9GHz,8GB,512GB SSD,Intel HD Graphics 515,Windows 10,1.2kg,729.0
676,684,Asus,Zenbook 3,Ultrabook,14.0,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,Windows 10,1.1kg,1135.0

 ## 1.2 Example 2

#### Task : find the cheapest and most expensive laptop of each comoany using the sort_values() and duplciated() methods (keep "first" , "last" and False)

In [24]:
#sort dataframe asending by comany and price
# cheapest first and most expensive last
df_laptops= df_laptops.sort_values(['Company','Price_euros'])
df_laptops

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
1215,1233,Acer,C740-C9QX (3205U/2GB/32GB/Chrome,Netbook,11.6,1366x768,Intel Celeron Dual Core 3205U 1.5GHz,2GB,32GB SSD,Intel HD Graphics,Chrome OS,1.3kg,174.00
290,295,Acer,Chromebook C910-C2ST,Notebook,15.6,1366x768,Intel Celeron Dual Core 3205U 1.5GHz,2GB,16GB SSD,Intel HD Graphics,Chrome OS,2.19kg,199.00
1102,1117,Acer,Chromebook 15,Notebook,15.6,1366x768,Intel Celeron Dual Core 3205U 1.5GHz,4GB,16GB SSD,Intel HD Graphics,Chrome OS,2.20kg,209.00
695,703,Acer,TravelMate B117-M,Netbook,11.6,1366x768,Intel Celeron Dual Core N3050 1.6GHz,4GB,32GB Flash Storage,Intel HD Graphics,Windows 10,1.4kg,269.00
1198,1216,Acer,Aspire 3,Notebook,15.6,1366x768,Intel Celeron Dual Core N3350 2GHz,4GB,1TB HDD,Intel HD Graphics 500,Linux,2.1kg,272.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,195,Vero,K147 (N3350/4GB/32GB/FHD/W10),Notebook,14.0,IPS Panel Full HD 1920x1080,Intel Celeron Dual Core N3350 1.1GHz,4GB,32GB Flash Storage,Intel HD Graphics 500,Windows 10,1.3kg,260.00
877,888,Xiaomi,Mi Notebook,Ultrabook,13.3,IPS Panel Full HD 1920x1080,Intel Core i5 6200U 2.3GHz,8GB,256GB SSD,Nvidia GeForce 940MX,Windows 10,1.28kg,935.00
192,196,Xiaomi,Mi Notebook,Ultrabook,13.3,IPS Panel Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Nvidia GeForce MX150,No OS,1.3kg,999.90
184,188,Xiaomi,Mi Notebook,Notebook,15.6,IPS Panel Full HD 1920x1080,Intel Core i5 8250U 1.6GHz,8GB,256GB SSD,Nvidia GeForce MX150,No OS,1.95kg,1199.00
514,521,Xiaomi,Mi Notebook,Notebook,15.6,IPS Panel Full HD 1920x1080,Intel Core i7 8550U 1.8GHz,16GB,256GB SSD,Nvidia GeForce MX150,No OS,1.95kg,1399.95

In [25]:
# check all values categories in  "Company" column
df_laptops.value_counts('Company')

Company
Dell         297
Lenovo       297
HP           274
Asus         158
Acer         103
MSI           54
Toshiba       48
Apple         21
Samsung        9
Mediacom       7
Razer          7
Microsoft      6
Vero           4
Xiaomi         4
Chuwi          3
Fujitsu        3
LG             3
Google         3
Huawei         2
Name: count, dtype: int64

In [26]:
# duplicated values in "Companty" column (default ----> keep = "first")
duplicated_first =df_laptops.duplicated('Company',keep= 'first')

In [35]:
# show dataframe with duplicated values in "Company"  column
df_laptops[duplicated_first]

# keep = 'first' (cheepest laptop per company)
#show dataframe with non duplicated values in "Company" column
df_laptops[~duplicated_first]

# check all categories

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
1215,1233,Acer,C740-C9QX (3205U/2GB/32GB/Chrome,Netbook,11.6,1366x768,Intel Celeron Dual Core 3205U 1.5GHz,2GB,32GB SSD,Intel HD Graphics,Chrome OS,1.3kg,174.00
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
20,21,Asus,Vivobook E200HA,Netbook,11.6,1366x768,Intel Atom x5-Z8350 1.44GHz,2GB,32GB Flash Storage,Intel HD Graphics 400,Windows 10,0.98kg,191.90
30,31,Chuwi,"LapBook 15.6""",Notebook,15.6,Full HD 1920x1080,Intel Atom x5-Z8300 1.44GHz,4GB,64GB Flash Storage,Intel HD Graphics,Windows 10,1.89kg,244.99
340,346,Dell,Inspiron 3552,Notebook,15.6,1366x768,Intel Celeron Dual Core N3060 1.6GHz,4GB,500GB HDD,Intel HD Graphics,Linux,2.2kg,274.90
983,997,Fujitsu,LifeBook A556,Notebook,15.6,1366x768,Intel Core i5 6200U 2.3GHz,4GB,256GB SSD,Intel HD Graphics 520,Windows 10,2.3kg,649.00
472,479,Google,Pixelbook (Core,Ultrabook,12.3,Touchscreen 2400x1600,Intel Core i5 7Y57 1.2GHz,8GB,128GB SSD,Intel HD Graphics 615,Chrome OS,1.1kg,1275.00
1268,1286,HP,Stream 11-Y000na,Netbook,11.6,1366x768,Intel Celeron Dual Core N3060 1.6GHz,2GB,32GB Flash Storage,Intel HD Graphics 400,Windows 10,1.17kg,209.00
170,174,Huawei,MateBook X,Ultrabook,13.0,IPS Panel Full HD 2160x1440,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,Windows 10,1.05kg,1349.00
909,922,LG,Gram 14Z970,Ultrabook,14.0,IPS Panel Full HD / Touchscreen 1920x1080,Intel Core i7 7500U 2.7GHz,8GB,512GB SSD,Intel HD Graphics 620,Windows 10,0.98kg,1899.00
1272,1290,Lenovo,IdeaPad 100S-14IBR,Notebook,14.0,1366x768,Intel Celeron Dual Core N3050 1.6GHz,2GB,64GB Flash Storage,Intel HD Graphics,Windows 10,1.5kg,229.00
1169,1187,MSI,PL60 7RD,Gaming,15.6,IPS Panel Full HD 1920x1080,Intel Core i7 7500U 2.7GHz,8GB,1TB HDD,Nvidia GeForce GTX 1050,Windows 10,2.2kg,839.00
626,633,Mediacom,SmartBook 140,Notebook,14.0,Full HD 1920x1080,Intel Atom x5-Z8350 1.44GHz,2GB,32GB Flash Storage,Intel HD Graphics,Windows 10,1.4kg,239.00
457,464,Microsoft,Surface Laptop,Ultrabook,13.5,Touchscreen 2256x1504,Intel Core M m3-7Y30 2.2GHz,4GB,128GB SSD,Intel HD Graphics 615,Windows 10 S,1.252kg,989.00
1117,1132,Razer,Blade Stealth,Ultrabook,12.5,Touchscreen / 4K Ultra HD 3840x2160,Intel Core i7 6500U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 520,Windows 10,1.25kg,1029.00
430,437,Samsung,Chromebook 3,Netbook,11.6,1366x768,Intel Celeron Dual Core N3060 1.6GHz,4GB,16GB Flash Storage,Intel HD Graphics 400,Chrome OS,1.15kg,269.00
159,163,Toshiba,Satellite Pro,Notebook,15.6,1366x768,Intel Core i3 6006U 2.2GHz,4GB,500GB HDD,Intel HD Graphics 520,Windows 10,2.1kg,447.00
1120,1135,Vero,V131 (X5-Z8350/4GB/32GB/FHD/W10),Notebook,13.3,Full HD 1920x1080,Intel Atom X5-Z8350 1.44GHz,4GB,32GB Flash Storage,Intel HD Graphics 400,Windows 10,1.35kg,196.00
877,888,Xiaomi,Mi Notebook,Ultrabook,13.3,IPS Panel Full HD 1920x1080,Intel Core i5 6200U 2.3GHz,8GB,256GB SSD,Nvidia GeForce 940MX,Windows 10,1.28kg,935.00

In [29]:
df_laptops[~duplicated_first] [['Company','Price_euros']]

        Company  Price_euros
1215       Acer       174.00
1         Apple       898.94
20         Asus       191.90
30        Chuwi       244.99
340        Dell       274.90
983     Fujitsu       649.00
472      Google      1275.00
1268         HP       209.00
170      Huawei      1349.00
909          LG      1899.00
1272     Lenovo       229.00
1169        MSI       839.00
626    Mediacom       239.00
457   Microsoft       989.00
1117      Razer      1029.00
430     Samsung       269.00
159     Toshiba       447.00
1120       Vero       196.00
877      Xiaomi       935.00

In [38]:
# keep = 'last'
duplicated_last = df_laptops.duplicated('Company',keep= 'last')
# keep= False
duplicated_false = df_laptops.duplicated('Company',keep= False)

In [36]:
#keep= 'last' (most expensive laptop per company)
# show dataframe with non duplicated values inn " company"  column
df_laptops[~duplicated_last]

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
1189,1207,Acer,Predator G9-793,Gaming,17.3,IPS Panel Full HD 1920x1080,Intel Core i7 7700HQ 2.8GHz,16GB,256GB SSD + 1TB HDD,Nvidia GeForce GTX 1070,Windows 10,4.2kg,2599.00
17,18,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.9GHz,16GB,512GB SSD,AMD Radeon Pro 560,macOS,1.83kg,2858.00
1066,1081,Asus,ROG G701VO,Gaming,17.3,IPS Panel Full HD 1920x1080,Intel Core i7 6820HK 2.7GHz,64GB,1TB SSD,Nvidia GeForce GTX 980,Windows 10,3.58kg,3975.00
421,428,Chuwi,LapBook 12.3,Notebook,12.3,IPS Panel Retina Display 2736x1824,Intel Celeron Quad Core N3450 1.1GHz,6GB,64GB Flash Storage,Intel HD Graphics 500,Windows 10,1.4kg,449.00
723,731,Dell,Alienware 17,Gaming,17.3,4K Ultra HD 3840x2160,Intel Core i7 7700HQ 2.8GHz,32GB,1TB SSD + 1TB HDD,Nvidia GeForce GTX 1070,Windows 10,4.36kg,3659.40
623,630,Fujitsu,LifeBook A557,Notebook,15.6,1366x768,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,Windows 10,2.2kg,799.00
437,444,Google,Pixelbook (Core,Ultrabook,12.3,Touchscreen 2400x1600,Intel Core i7 7Y75 1.3GHz,16GB,512GB SSD,Intel HD Graphics 615,Chrome OS,1.1kg,2199.00
749,758,HP,Zbook 17,Workstation,17.3,IPS Panel Full HD 1920x1080,Intel Xeon E3-1535M v5 2.9GHz,16GB,256GB SSD,Nvidia Quadro M2000M,Windows 7,3kg,4389.00
214,219,Huawei,MateBook X,Ultrabook,13.0,IPS Panel Full HD 2160x1440,Intel Core i7 7500U 2.7GHz,8GB,512GB SSD,Intel HD Graphics 620,Windows 10,1.05kg,1499.00
678,686,LG,Gram 15Z975,Ultrabook,15.6,IPS Panel Full HD 1920x1080,Intel Core i7 8550U 1.8GHz,8GB,512GB SSD,Intel HD Graphics 620,Windows 10,1.09kg,2299.00
610,617,Lenovo,Thinkpad P51,Notebook,15.6,IPS Panel 4K Ultra HD 3840x2160,Intel Xeon E3-1535M v6 3.1GHz,32GB,1TB SSD,Nvidia Quadro M2200M,Windows 10,2.5kg,4899.00
177,181,MSI,GT80S 6QF-074US,Gaming,18.4,Full HD 1920x1080,Intel Core i7 6920HQ 2.9GHz,32GB,512GB SSD + 1TB HDD,Nvidia GTX 980 SLI,Windows 10,4.4kg,2799.00
580,587,Mediacom,SmartBook Edge,Notebook,14.0,IPS Panel Full HD 1920x1080,Intel Celeron Quad Core N3450 1.1GHz,4GB,32GB SSD,Intel HD Graphics 500,Windows 10,1.45kg,389.00
449,456,Microsoft,Surface Laptop,Ultrabook,13.5,Touchscreen 2256x1504,Intel Core i7 7660U 2.5GHz,16GB,512GB SSD,Intel Iris Plus Graphics 640,Windows 10 S,1.25kg,2589.00
196,200,Razer,Blade Pro,Gaming,17.3,4K Ultra HD / Touchscreen 3840x2160,Intel Core i7 7820HK 2.9GHz,32GB,1TB SSD,Nvidia GeForce GTX 1080,Windows 10,3.49kg,6099.00
874,885,Samsung,Notebook 9,Ultrabook,15.0,Full HD 1920x1080,Intel Core i7 7500U 2.7GHz,16GB,256GB SSD,Nvidia GeForce 940MX,Windows 10,1.23kg,1849.00
491,498,Toshiba,Portege X30-D-10L,Ultrabook,13.3,Full HD / Touchscreen 1920x1080,Intel Core i7 7500U 2.7GHz,32GB,512GB SSD,Intel HD Graphics 620,Windows 10,1.05kg,2799.00
191,195,Vero,K147 (N3350/4GB/32GB/FHD/W10),Notebook,14.0,IPS Panel Full HD 1920x1080,Intel Celeron Dual Core N3350 1.1GHz,4GB,32GB Flash Storage,Intel HD Graphics 500,Windows 10,1.3kg,260.00
514,521,Xiaomi,Mi Notebook,Notebook,15.6,IPS Panel Full HD 1920x1080,Intel Core i7 8550U 1.8GHz,16GB,256GB SSD,Nvidia GeForce MX150,No OS,1.95kg,1399.95

In [37]:
df_laptops[~duplicated_last] [['Company','Price_euros']]

        Company  Price_euros
1189       Acer      2599.00
17        Apple      2858.00
1066       Asus      3975.00
421       Chuwi       449.00
723        Dell      3659.40
623     Fujitsu       799.00
437      Google      2199.00
749          HP      4389.00
214      Huawei      1499.00
678          LG      2299.00
610      Lenovo      4899.00
177         MSI      2799.00
580    Mediacom       389.00
449   Microsoft      2589.00
196       Razer      6099.00
874     Samsung      1849.00
491     Toshiba      2799.00
191        Vero       260.00
514      Xiaomi      1399.95

In [39]:
#keep = False
# show dataframe with non duplicated values in "company" column
df_laptops[~duplicated_false]

Empty DataFrame
Columns: [laptop_ID, Company, Product, TypeName, Inches, ScreenResolution, Cpu, Ram, Memory, Gpu, OpSys, Weight, Price_euros]
Index: []

In [40]:
#all elements in company column are repeated at least once
df_laptops.value_counts('Company')

Company
Dell         297
Lenovo       297
HP           274
Asus         158
Acer         103
MSI           54
Toshiba       48
Apple         21
Samsung        9
Mediacom       7
Razer          7
Microsoft      6
Vero           4
Xiaomi         4
Chuwi          3
Fujitsu        3
LG             3
Google         3
Huawei         2
Name: count, dtype: int64